{% extends "books/base.html" %}
{% block title %} Reset Password {% endblock %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="change_pass_form mt-4">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                <div class="card-body change_pass_header change_password_after_forget_banner">
                    <h3 class="mb-1">{% if token_fail %}{% trans "BAD TOKEN" %}{% else %}{% trans "CHANGE PASSWORD" %}{% endif %}</h3>
                </div>
                <div class="card-body all_tasks_container">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}" class="pass_form">
                                {% csrf_token %}
                                {% for field in form %}
                                    <div class="form-group">
                                        {% if field.errors %}
                                            <div class="custom_alert custom_alert-danger">
                                                {{ field.errors }}
                                            </div>
                                        {% endif %}
                                        <div class="pass_input_container">
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                        <img src="{% static 'images/change_password_lock.svg' %}" alt="">
                                                    </span>
                                                </div>
                                                <input type="password" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" required="" name="{{ field.name }}">
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="form-group change_pass_btn_container">
                                    <button type="submit" class="change_pass_btn" name="action">{% trans "Change Password" %}</button>
                                </div>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
