{% extends "books/base.html" %}
{% block title %} Reset Password {% endblock %}

{% load i18n %}
{% load static %}

{% block content %}
    <div class="change_pass_form mt-4">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                <div class="card-body change_pass_header change_password_after_forget_banner">
                    <h3 class="mb-1">{% trans "Change Password" %}</h3>
                </div>
                <div class="card-body all_tasks_container">
					<p>{% trans 'Your password is now changed. Click below to login to your account.' %}</p>
					<div class="text-center">
			        	<a href="/2fa/account/two_factor/setup/">
			            	<button type="submit" class="two_fa_settings_btn custom_back_to_login">{% trans 'Login' %}</button>
			        	</a>
			        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
