{% extends "books/base.html" %}
{% block title %} Change Password {% endblock %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<div class="change_pass_form mt-4">
        <div class="row">
			<div class="col-12 col-sm-12 col-md-10 offset-md-1">
				<div class="card-body change_pass_header">
					<h3 class="mb-0">CHANGE PASSWORD</h3>
				</div>
				<div class="card-body">
					<form method="POST" action="{% url 'account_change_password' %}" class="pass_form">
						{% csrf_token %}
						{% for field in form %}
							<div class="form-group">
								{% if field.errors %}
									<div class="custom_alert custom_alert-danger">
										{{ field.errors }}
									</div>
								{% endif %}
								<div class="pass_input_container">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1">
												<img src="{% static 'images/change_password_lock.svg' %}" alt="">
											</span>
										</div>
										<input type="password" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" required="" name="{{ field.name }}">
									</div>
								</div>
							</div>
						{% endfor %}
						<div class="form-group change_pass_btn_container">
							<button type="submit" class="change_pass_btn" name="action">Submit Changes</button>
						</div>
						{% if messages %}
						  <div class="alert alert-danger alert-dismissible fade show">
							{% for message in messages %}
							  <strong>{{message}}</strong>
							{% endfor %}
						  </div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
    </div>
{% endblock %}
