{% extends "books/base.html" %}
{% block title %} Change Password {% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <!-- form card change password -->
	<div class="change_pass_form">
	    <div class="col-md-4 offset-md-4">
	        <div class="card-body">
	            <h3 class="mb-0 text-center">{% trans "Change Password" %}</h3>
	        </div>
	        <div class="card-body">
	            <form method="POST" action="{% url 'account_change_password' %}" class="form">
	            	{% csrf_token %}
	                {% for field in form %}
					    <div class="form-group">
					    	{% if field.errors %}
						        <div class="alert alert-danger">
						        	{{ field.errors }}
						        </div>
					        {% endif %}
					        <input type="password" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" required="" name="{{ field.name }}">
					    </div>
					{% endfor %}
					<div class="form-group">
	                    <button type="submit" class="change_pass_btn" name="action">Submit Changes</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
<!-- /form card change password -->
{% endblock %}
