{% load i18n %}
<div class="card-body upload_e-book_header single_book_detail_header custom_books_reducing_header_height">
	<h3 class="mb-1">{{ book.name|upper }} - [{{ main_book.working_number|upper }}] {{ main_book }}</h3>
    <p>{% trans "Uploaded" %}: <small>{{ book.uploaded_at|date:'d/m/Y, H:i' }}</small></p>
    {% if book.uploaded_at == book.modified_at %}
    	<p>{% trans "It hasn't been modified yet!" %}</p>
    {% else %}
    	<p>{% trans "Modified" %}: <small>{{ book.modified_at|date:'d/m/Y, H:i' }}</small></p>
    {% endif %}
</div> 