{% load i18n %}

<div class="custom_three_buttons">
	{% if cancel_url %}
		<a href="{{ cancel_url }}" class="btn btn-default custom_enable_2fa_login">{% trans "Cancel" %}</a>
	{% endif %}
{% if wizard.steps.prev %}
  <!--<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-default">{% trans "Back" %}</button>-->
  {# <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="back" id="back">{% trans "Back" %}</button> #}
  {# <button type="submit" class="next  two_fa_next" id="next">{% trans "Next" %}</button> #}
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="custom_enable_2fa_login">{% trans "Back" %}</button>
		<button type="submit" class="custom_enable_2fa_login two_fa_next" id="next">{% trans "Next" %}</button>
{% else %}
  <!--<button disabled name="" type="button" class="btn btn-disabled">{% trans "Back" %}</button>-->
  <button type="submit" id="login_btn" class="custom_enable_2fa_login">{% trans "Login" %}</button>
{% endif %}
</div>
{# <button type="submit" class="btn btn-primary  two_fa_next">{% trans "Next" %}</button> #}
{# <button type="submit" class="next" id="next">Next</input> #}
