{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>
        Workflow - {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
</head>

<body>
    <div class="login_logo_container"><img src="{% static 'images/login/200x66_logo.png' %}" alt="Logo" class="login_logo"></div>
    <div class="form-container">
        <!-- <div class="login_logo_container"><img src="{% static 'images/login/200x66_logo.png' %}" alt="Logo" class="login_logo"></div> -->
    	<div class="wrapper">
	    	<div class="login-form">
				{% block content %}

                {% endblock %}
			</div>
		</div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script>
    	$(document).ready(function(){
            var all_tbody_trs = $('.login-form form table tbody');

            $('ul.errorlist').wrap('<div class="custom_alert custom_alert-danger mr-4 ml-4"><ul class="errorlist"><li></li></ul></div>');

            if(all_tbody_trs.children().length == 3) {
                all_tbody_trs.find(">:first-child").css("margin-bottom", 0);
            }

    		$('<img src="{% static "images/login/user.svg" %}" class="input-icon username-icon" />').insertAfter('#id_auth-username');
            $('<img src="{% static "images/login/lock.svg" %}" class="input-icon username-icon" />').insertAfter('#id_auth-password');
            $('<img src="{% static "images/login/auth.svg" %}" class="input-icon username-icon" />').insertAfter('#id_token-otp_token');
            $('<img src="{% static "images/login/email.svg" %}" class="input-icon username-icon reset_pass_email_icon" />').insertAfter('#id_email');
            $('<img src="{% static "images/login/identification.svg" %}" class="input-icon username-icon" />').insertAfter('#id_backup-otp_token');
            
            $('#id_auth-username').attr({
                "placeholder": "Username",
                "autocomplete": "off"
            });
            $('#id_auth-password').attr("placeholder", "Password");
            $('#id_email').attr({
                "placeholder": "Enter your e-mail",
                "autocomplete": "off"
            });
            $('#id_auth-username').blur();
            $('#id_token-otp_token').blur();
            $('#id_backup-otp_token').attr({
                "placeholder": "Enter your token",
                "autocomplete": "off"
            });

            // erros and messages disappear after certain time - 3 secs and 10 secs
            setTimeout(function(){
                $('.alert-danger').fadeOut();
            }, 3000);

            setTimeout(function(){
                $('.custom_alert-danger').fadeOut();
            }, 10000);
    	});
    </script>
</body>
</html>