{% extends "books/base.html" %}

{% block title %}
    [{{ main_book.working_number|upper }}]{{ main_book }} {{ book.name }}
{% endblock %}

{% load shorten_file_name %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="single_book_detail mt-4">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                {% include "uploaded_books/include/details_banner_snippet.html" with book=book main_book=main_book %}
                <div class="custom_back_button">
                    <a href="{% url 'dashboard:details_books' main_book.id %}"><button class="all_tasks_btn btn custom_tasks_button_add_new" type="button"><i class="fas fa-arrow-left"></i>{% trans "Go Back" %}</button></a>
                </div> 
                <div class="card-body book_info">
                    <div class="row">
                        {% if book.cover_pdf_file %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.cover_pdf_file|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuCoverPdf"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "Cover PDF File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.cover_pdf_file.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.cover_psd_file %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.cover_psd_file|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuCoverPsd"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "Cover PSD File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.cover_psd_file.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.pdf_file %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.pdf_file|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuPdf"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "PDF File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.pdf_file.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.indesign_file %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.indesign_file|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuIndesign"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "InDesign File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.indesign_file.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.pdf_old_version_file %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.pdf_old_version_file|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuPdfOldVersion"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "PDF Old Version File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.pdf_old_version_file.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.barcode_file %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.barcode_file|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuBarcode"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "Barcode File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.barcode_file.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.cover_interiour_pdf %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.cover_interiour_pdf|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuCoverInteriourPdf"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "Cover Interiour PDF File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.cover_interiour_pdf.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                        {% if book.cover_interiour_psd %}
                            <div class="col-6 offset-md-1 col-md-4 text-center mt-4 book_container">
                                <div>
                                    <div class="show_hover_container">
                                        <p><img class="book_file" src="{% static 'images/Pdf.svg' %}" alt="" /></p>
                                        <p class="show_hover_title">{{ book.cover_interiour_psd|shorten_file_name }}</p>
                                        <div class="show_hover_overlay"></div>
                                        <div class="show_hover_button show_hover_button_link"><a href="#" class="hvr-pop hvr-icon-pop"><i class="fas fa-download hvr-icon"></i>{% trans "Create Link" %}</a></div>
                                        <div class="show_hover_button"><a href="#" class="hvr-pop hvr-icon-pop" data-toggle="modal" data-target="#download125x19FnskuCoverInteriourPsd"><i class="fas fa-download hvr-icon"></i>{% trans "Download" %}</a></div>
                                    </div>
                                    <h4 class="book_title">{% trans "Cover Interiour PSD File" %}</h4>
                                    <p class="book_size">{% trans "Size" %}: <small>{{ book.cover_interiour_psd.size|filesizeformat }}</small></p>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-4 text-center mt-5 book_container">
                            <a href="zip_whole_125x19_fnsku/"><button class="download_all_btn btn" type="button"><i class="fas fa-download"></i>{% trans "Download All Files" %}</button></a>
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="col-6 col-md-4 text-center mt-5 book_container">
                                <a href="edit/"><button class="download_all_btn btn" type="button"><i class="fas fa-pencil-alt"></i>{% trans "Edit Book" %}</button></a>
                            </div>
                            <div class="col-6 col-md-4 text-center mt-5 book_container">
                                <!-- Button trigger modal -->
                                <button class="download_all_btn btn" type="button" data-toggle="modal" data-target="#deleteWhole125x19Fnsku">
                                    <i class="fas fa-trash"></i>{% trans "Delete Book" %}
                                </button>
                            </div>
                        {% else %}
                            <div class="col-6 col-md-4 text-center mt-5 book_container">
                                <button class="download_all_btn btn disabled" type="button" data-toggle="tooltip" data-placement="top" title="You don't have permissions to do that!"><i class="fas fa-pencil-alt"></i>{% trans "Edit Book" %}</button>
                            </div>
                            <div class="col-6 col-md-4 text-center mt-5 book_container">
                                <button class="download_all_btn btn disabled" type="button" data-toggle="tooltip" data-placement="top" title="You don't have permissions to do that!">
                                    <i class="fas fa-trash"></i>{% trans "Delete Book" %}
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'uploaded_books/modals/125x19_fnsku/modal_delete_125x19_fnsku.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_cover_pdf.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_cover_psd.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_pdf.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_indesign.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_pdf_old_version.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_barcode.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_cover_interiour_pdf.html' %}
    {% include 'uploaded_books/modals/125x19_fnsku/modal_download_125x19_fnsku_cover_interiour_psd.html' %}
{% endblock %}