{% extends "two_factor/_base_focus.html" %}
{% load i18n %}
{% block title %}{% trans "Enable Two-Factor Authentication" %}{% endblock %}

{% block content %}
  <div class="two_fa_settings_form mt-4">
    <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="card-body two_fa_settings_header">
        <h3 class="mb-1">{% trans "ENABLE 2FA" %}</h3>
      </div>
      <div class="card-body">
        <p>{% blocktrans %}Congratulations, you've successfully enabled two-factor authentication.{% endblocktrans %}</p>

        
        {% if not phone_methods %}
          <div class="custom_three_buttons">
            <a href="{% url 'two_factor:profile' %}" class="btn btn-default custom_enable_2fa_login">
              {% trans "Back to Profile" %}
            </a>
          </div>
        {% else %}
          <p>
            {% blocktrans %}However, it might happen that you don't have access to your primary token device. To enable account recovery, add a phone number.{% endblocktrans %}
          </p>
          <div class="custom_three_buttons">
            <a href="{% url 'two_factor:profile' %}" class="btn btn-default custom_enable_2fa_login">
              {% trans "Back to Profile" %}
            </a>
            <a href="{% url 'two_factor:phone_create' %}" class="btn btn-default custom_enable_2fa_login">
              {% trans "Add Phone Number" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  </div>
{% endblock %}
