{% extends "todo/base.html" %}
{% load static %}

{% block title %}Import CSV{% endblock %}

{% block content %}
  <div class="import_csv csv_upload_result mt-4">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
        <div class="card-body import_csv_header">
          <h3 class="mb-1">IMPORT CSV</h3>
        </div>
        <div class="card-body import_csv_container csv_upload_result_container">
          <h6>Batch-import tasks by uploading a specifically-formated CSV.</h6>
          <h6>Updated CSV files will update the task list as well. Success and failure will be reported here</h6>
          {% if results %}
            <div class="card-body csv_upload_result_container">
              {% if results.summaries %}
                <h6>SUMMARY: </h6>
                <ul class="list-group summary_group">
                  {% for line in results.summaries %}
                    <li class="list-group-item">{{ line }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if results.upserts %}
                <h6 class="mt-4">UPSERTS (TASKS CREATED OR UPDATED): </h6>
                <ul class="list-group created_task">
                  {% for line in results.upserts %}
                    <li class="list-group-item">{{ line }}</li>
                  {% endfor %}
                </ul>
              {% endif %}

              {% if results.errors %}
                <h6 class="mt-4">ERRORS (TASKS NOT CREATED OR UPDATED): </h6>
                <ul class="list-group created_task">
                  {% for error_row in results.errors %}
                    {% for k, error_list in error_row.items  %}
                      <li class="list-group-item">CSV row {{ k }}</li>
                      <ul class="custom_poderror">
                        {% for err in error_list %}
                          <li class="list-group-item">{{ err }}</li>
                        {% endfor %}
                      </ul>
                    {% endfor %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endif %}

          <div class="row">
            <form method="post" enctype="multipart/form-data" style="display: contents;">
              {% csrf_token %}

              {% if messages %}
                <div class="form-group col-12 col-sm-12">
                  <div class="custom_alert custom_alert-danger" style="margin: 12px 0 0 0;">
                    {% for message in messages %}
                      {{message}}
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              <div class="col-12 col-sm-7 offset-sm-0 col-md-10 offset-md-1 col-lg-6 offset-lg-1 col-xl-4 offset-xl-2 mt-3">
                <div class="import_csv_wrapper">
                  <button class="btn import_csv_btn hvr-sweep-to-right" type="button" id="custom_csv_button"><img src="{% static 'images/folder_file.png' %}" alt="" class="hvr-bounce-in"></button>
                  <span class="custom_csv_text short_txt" id="custom_csv_text">Choose File</span>
                  <span class="custom_csv_text long_txt" id="custom_csv_text">Choose Source File</span>
                  <input type="file" name="csvfile" accept="text/csv" class="real_csv_file" id="import_csv_real_file" required>
                </div>
              </div>
              <div class="text-center col-12 col-sm-5 col-md-12 col-lg-4 col-xl-5 mt-3 uploading_csv_btn">
                <button class="upload_csv_btn btn" type="submit"><i class="fas fa-upload"></i>Upload</button>
              </div>
              
            </form>
          </div>
          <div>
            <h6 class="text-center mt-4 mb-3">Download the template to create CSV easier.</h6>
          </div>
          <div class="row">
            <div class="col-12 text-center mb-3">
              <a href="{% static 'todo/import_example.csv' %}" download="import_example.csv"><button class="download_cvs_template_btn btn" type="submit"><i class="fas fa-download"></i>Download template</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block other_js %}
  <script>
    const realCSVFileBtn = document.getElementById("import_csv_real_file");
    const customCSVBtn = document.getElementById("custom_csv_button");
    const customCSVText = document.getElementById("custom_csv_text");
    customCSVBtn.addEventListener('click', function(){
      realCSVFileBtn.click();
    });
    realCSVFileBtn.addEventListener('change', function(){
      if(realCSVFileBtn.value){
        if(realCSVFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1].length > 15){
          customCSVText.innerHTML = realCSVFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1].substring(0, 15) + '...';
        }else{
          customCSVText.innerHTML = realCSVFileBtn.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
        }
      }else{
        customCSVText.innerHTML = "No file choosen, yet.";
      }
    });
  </script>
{% endblock %}