{% load widget_tweaks %}
{% for hidden_field in form.hidden_fields %}
	{{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
	<div class="alert alert-danger" role="alert">
		{% for error in form.non_field_errors %}
			{{ error }}
		{% endfor %}
	</div>
{% endif %}
<div class="row">
	{% for field in form.visible_fields %}
		{% if forloop.counter == 1 %}
			<div class="form-group col-sm-6">
				{{ field.label_tag }}

				{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% elif forloop.counter == 2 %}
			<div class="form-group col-sm-4">
				{{ field.label_tag }}

				{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% elif forloop.counter == 3 %}
			<div class="form-group col-sm-2">
				{{ field.label_tag }}

				{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% elif forloop.counter == 4 or forloop.counter == 7 %}
			<div class="form-group col-sm-12">
				{{ field.label_tag }}

				{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
					  	{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% elif forloop.counter == 5 %}
			<div class="form-group col-sm-4">
				{{ field.label_tag }}

				{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% elif forloop.counter == 6 %}
			<div class="form-group col-sm-4">
					{{ field.label_tag }}

					{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
			<div class="form-group col-sm-4">
				<label for="id_co_author_name">Co author emails:</label>
				<div id="id_co_author_email">
				</div>
			</div>
		{% elif forloop.counter == 8 %}
			<div class="form-group col-sm-6">
					{{ field.label_tag }}

					{% if form.is_bound %}
					{% if field.errors %}
						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						{% render_field field class="form-control is-valid" %}
					{% endif %}
				{% else %}
					{% render_field field class="form-control" %}
				{% endif %}

				{% if field.help_text %}
					<small class="form-text text-muted">{{ field.help_text }}</small>
				{% endif %}
			</div>
		{% endif %}
	{% endfor %}
</div>
{% block other_js %}
<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
	<script>
		$(document).ready(function(){
			var authorName;
			var submitForm = true;

			$("#id_co_author_name").change(function () {
		      var url = $("#enterNewBookForm").attr("data-emails-url");  // get the url of the `load_emails` view
		      var authorId = $(this).val();  // get the selected author ID from the HTML input

		      $.ajax({                       // initialize an AJAX request
		        url: url,                    // set the url of the request)
		        data: {
		          'authorId': authorId       // add the author id to the GET parameters
		        },
		        success: function (data) {   // `data` is the return of the `load_emails` view function
		          $("#id_co_author_email").html(data);  // replace the contents of the email input with the data that came from the server
		        }
		      });
		    });

			// to make sure that id_co_author_email doesn't go blank (even though the "Co Author Name" field has values)
			var urlaPageLoad = $("#enterNewBookForm").attr("data-emails-url");  // get the url of the `load_emails` view
		    var authorIdPageLoad = $("#id_co_author_name").val();  // get the selected author ID from the HTML input

		    $.ajax({                       // initialize an AJAX request
		      url: urlaPageLoad,                    // set the url of the request)
		      data: {
		        'authorId': authorIdPageLoad       // add the author id to the GET parameters
		      },
		      success: function (data) {   // `data` is the return of the `load_emails` view function
		        $("#id_co_author_email").html(data);  // replace the contents of the email input with the data that came from the server
		      }
		    });

			// Co Author and Author Inputs Fix
		    $('#enterNewBookForm').on('DOMSubtreeModified', function(){
		    	var coAuthorList = [];
		    	var authorList = [];

		    	// takes every author that has been selected and push it to lists
		    	$("#id_co_author_name > option:selected").each(function(){
		    		coAuthorList.push($(this).text());
			    });

			    $("#id_author > option:selected").each(function(){
		    		authorList.push($(this).text());
			    });

			    // goes through the coAuthorList and if there is a same author in both lists, adds class "same-author", submitForm becomes false - unable to submit it and it breaks the loop AND if there is no same author in both lists, it removes the class "same-author" and submitForm becomes true - able to submit it
			    var i;
			    for (i = 0; i < coAuthorList.length; i++) {
			    	// had to make sure that both inputs are NOT empty so that it doesn't show the error message (alert) for having same authors
			    	if((authorList.indexOf(coAuthorList[i]) != -1 || coAuthorList[i].indexOf(authorList) != -1) && (coAuthorList.length > 0 && authorList.length > 0)) {
			    		$("li:contains('"+ coAuthorList[i] +"')").addClass("same-authors");
			    		submitForm = false;
			    		break;
			    	}
			    	else {
			    		$("li").removeClass("same-authors");
			    		submitForm = true;
			    		continue;
			    	}
			    }

			    // to make sure that "same-author" class is not being added while one of the author inputs are empty
			    if (authorList.length == 0 || coAuthorList.length == 0) {
			    	$("li").removeClass("same-authors");
			    }
		    });

		    // alert method can be changed to something better - maybe a "fade-in" error message
		    $('#enterNewBookForm').submit(function(e) {
		    	if(!submitForm) {
		    		e.preventDefault();
		    		alert("You can not have one person as an author and co author! Please fix that in order to save your book.");
		    	}
		    });
		});
	</script>
{% endblock %}