{% extends "books/base.html" %}

{% block title %}
	Error 404
{% endblock %}

{% block content %}
    <div class="not_found_page mt-4">
		<div class="row">
        	<div class="col-md-6 offset-md-3 text-center custom_responsive_error_404">
            	<h2>OOPS!</h2>
                <h1>404</h1>
                <h3 class="mt-3">WE ARE SORRY, BUT PAGE YOU REQUESTED WAS NOT FOUND</h3>
                <a href="/"><button class="not_found_btn btn mt-4">GO TO HOMEPAGE</button></a>
            </div>
        </div>
    </div>
{% endblock %}