{% extends "books/base.html" %}

{% block title %} All Uploaded Books {% endblock %}

{% load static %}

{% block content %}
	<div class="upload_books_front">
	    <div class="row">
	         <div class="col-12 col-md-8 offset-md-2">
	            <div class="card-body upload_books_front_header">
	                <h3 class="mb-0">BOOK UPLOAD</h3>
	            </div>

	            <div class="card-body">
	            	{% if request.user.is_superuser %}
						<h6>If you want to upload a new <strong>book</strong>, please click on the button <strong>bellow</strong>:</h6>
		                <div class="upload_books_btn_container text-center mt-4">
		                    <div>
								<a href="{% url 'dashboard:enter_new_book' %}">
									<button class="btn"><i class="fas fa-book fa-lg"></i>
										<b>CREATE A BOOK</b>
									</button>
								</a>
							</div>
		                </div>
	            	{% endif %}
	                <!-- Table -->
	                {% if all_books %}
		                <div class="table_container table-responsive mt-5">
		                    <table id="file_list_table" class="table sortable">
		                        <thead>
		                            <tr>
		                                <th class="pr-0">Title</th>
		                                <th class="pr-0">Authors</th>
		                                <th class="pr-0">Uploaded</th>
		                                <th class="pr-0">Working No</th>
		                                {# <th class="pr-0">Type</th> #}
		                            </tr>
		                        </thead>
		                        <tbody>
		                            {% for x in all_books %}
			                            <tr>
											<td class="hvr-pulse"><img src="{% static 'images/file_icon.png' %}" class="mr-2" alt="file icon" width="25px"><a href="{{ x.id }}" >{{ x.title }}</a></td>
											<td>
												{% for author in x.author.all %}
					                                {% if forloop.last %}
					                                    {{ author }}
					                                {% else %}
					                                    {{ author }},<br>
					                                {% endif %}
					                            {% endfor %}
											</td>
											<td>{{ x.uploaded_at|date:'d/m/Y, H:i' }}</td>
											<td>{{ x.working_number }}</td>
											{# <td>{{ x.name }}</td> #}
										</tr>
		                            {% endfor %}
		                        </tbody>
		                    </table>
		                </div>
		            {% else %}
		            	<h2 class="custom_h1_nobooks">There's no books in our database.</h2>
		            {% endif %}
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block other_js %}
	<script>
		$(document).ready(function(){
			$('.custom_click').on('click', function(){
				$('#custom_box').slideToggle("slow");
				$('.custom_click').toggleClass('custom_promjena_buttona');
			});
		});
	</script>
	<script src="{% static 'script/sorttable.js' %}"></script>
{% endblock %}
