{% extends "books/base.html" %}

{% block title %} Upload 5 x 8 Book {% endblock %}

{% block other_css %}
	{{ form.media.css }}
{% endblock %}

{% load i18n %}
{% load static %}

{% block content %}
	<div class="upload_e-book mt-4">
		<div class="row">
        	<div class="col-12 col-md-8 offset-md-2">
            	<div class="card-body single_book_detail_header upload_e-book_header custom_books_reducing_header_height">
                	{# <h3 class="mb-0">E-BOOK - {{ main_book }} [{{ main_book.working_number }}]</h3> #}
                	<h3 class="mb-1">[{{ main_book.working_number|upper }}] {{ main_book }} - {% trans "5x8 Book" %}</h3>
                	<p>{% trans "Uploaded:" %} <small>-</small></p>
                    <p>{% trans "Modified:" %} <small>-</small></p>
                </div>   
                <form id="enterNewBookForm" data-emails-url="{% url 'dashboard:ajax_load_emails' %}" method="post" novalidate enctype="multipart/form-data">
					{% csrf_token %}
					<div class="custom_card_body card-body">
						<div class="custom_back_button">
                			<a href="{% url 'dashboard:details_books' main_book.id %}"><button class="all_tasks_btn btn custom_tasks_button_add_new" type="button"><i class="fas fa-arrow-left"></i>{% trans "Go Back" %}</button></a>
                		</div>
                		<h6 class="text-center">{% trans "Please select files in order to upload an 5 x 8 Book" %}</h6>
                    	<div class="e-book_btn_container">
                    		{% for field in form %}
								{% if field.errors %}
										<div class="custom_alert_upload_books custom_alert custom_alert-danger">
											{{ field.label }} {% trans "is required!" %}
										</div>
								{% endif %}
		                	{% endfor %}
			                <div class="row">
			                	{% for field in form %}
			                		{% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 5 %}
					                	<div class="col-12 col-md-4 offset-md-2 mt-3 mr-4 e-book_btn_wrapper">
			                                <button class="btn e-book_btn custom_button hvr-sweep-to-right" type="button" id="custom-button"><img src="{% static 'images/folder_file.png' %}" class="hvr-bounce-in" alt=""></button>
			                                <span class="custom_text">{% trans "Choose" %} {{ field.label }}</span>
			                                <input type="file" class="real_file" id="{{ field.id_for_label }}" name="{{ field.name }}">
			                            </div>
			                        {% elif forloop.counter == 2 or forloop.counter == 4 or forloop.counter == 6 %}
			                            <div class="col-12 col-md-4 mt-3 e-book_btn_wrapper">
			                                <button class="btn e-book_btn custom_button hvr-sweep-to-right" type="button" id="custom-button"><img src="{% static 'images/folder_file.png' %}" class="hvr-bounce-in" alt=""></button>
			                                <span class="custom_text">{% trans "Choose" %} {{ field.label }}</span>
			                                <input type="file" class="real_file" id="{{ field.id_for_label }}" name="{{ field.name }}">
			                            </div>
			                        {% endif %}
		                        {% endfor %}
	                        </div>
	                        <div class="row">
	                            <div  class="col-12 col-md-4 offset-md-2 mt-3">
	                                <button class="upload_e-book btn" type="submit"><i class="fas fa-upload"></i>{% trans "Upload Book" %}</button>
	                            </div>
	                        </div>
                        </div>
                    </div>
				</form>
            </div>
        </div>
    </div>
{% endblock %}

{% block other_js %}
	<script src="{% static 'script/upload_book_input.js' %}"></script>
	{{ form.media.js }}
{% endblock %}