.custom_buttons {
	padding: 0 0 20px 0;
}

.custom_buttons a, button {
	margin: 0 14px;
}

.custom_co_authors span {
	color: #270446;
}

.custom_pagination {
	margin-top: 30px;
}

.a-box {
    margin-top:20px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-info-box {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.info-box{
    display:inline;
    padding-right:5px;
}

.same-authors, .same-authors > span {
    color: #fff !important;
    background-color: #d43a3a !important;
}

/* Drag&Drop Effect */

.tDnD_whileDrag {
  background: #fdf1f1;
  width: 180px;
  padding: 0 0 0 40px;
  color: #830f94;
  line-height: 30px;
  -moz-transition: -moz-transform 0.5s, box-shadow 0.5s;
  -o-transition: -o-transform 0.5s, box-shadow 0.5s;
  -webkit-transition: -webkit-transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 10px 0px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 10px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 10px 0px 20px;
}

.tDnD_whileDrag:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-box-shadow: #000 0 0 0;
  -webkit-box-shadow: #000 0 0 0;
  box-shadow: #000 0 0 0;
}

.tDnD_whileDrag:before {
  position: absolute;
  left: 14px;
  font-size: 20px;
  line-height: 26px;
  color: #ac14c2;
  text-shadow: 0 5px #000, 0 10px #000, 5px 0 #000, 5px 5px #000, 5px 10px #000, 10px 0 #000, 10px 5px #000, 10px 10px #000;
}

.tDnD_whileDrag > td, .tDnD_whileDrag > td > a{
    color: #dc3545cc !important;
    font-weight: 800 !important;
    border: 0 !important;
}

.tDnD_whileDrag > td > form > button {
    font-weight: 800 !important;
    padding: 0.45rem 0.7rem !important;
    background-color: #dc3545cc !important;
    border-color: #dc3545cc !important;
}

/* END Drag&Drop Effect */

.custom_task_count {
  text-align: justify;
  padding: 40px 0;
}

.custom_task_count span {
  color: #8d0a15;
  font-weight: 700;
}

/* Change Password */

.alert.alert-danger {
  background-color: #8d0a15;
  border: none !important;
  color: #fff;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

.alert.alert-danger ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); background: #8d0a15; }
    100% { transform: translateY(-10px); background: #d21020; }
}
@keyframes mover {
    0% { transform: translateY(0); background: #8d0a15; }
    100% { transform: translateY(-10px); background: #d21020; }
}

button.change_pass_btn {
  margin: 0;
}

/* END Change Password */