button {
  cursor: pointer;
}

.custom_buttons {
	padding: 20px 0 20px 0;
}

/*.custom_buttons a {
	margin: 0 14px;
}*/

.custom_co_authors span {
	color: #270446;
}

.custom_pagination {
	margin-top: 30px;
}

.a-box {
    margin-top:20px;
    padding: 8px 35px 8px 14px;
    margin-bottom: 18px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.alert-info-box {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.info-box{
    display:inline;
    padding-right:5px;
}

.same-authors, .same-authors > span {
    color: #fff !important;
    background-color: #d43a3a !important;
}

/* Drag&Drop Effect */
.tDnD_whileDrag {
  background: #fdf1f1;
  width: 100%;
  padding: 0 0 0 40px;
  color: #830f94;
  line-height: 30px;
  -moz-transition: -moz-transform 0.5s, box-shadow 0.5s;
  -o-transition: -o-transform 0.5s, box-shadow 0.5s;
  -webkit-transition: -webkit-transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 10px 0px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 10px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 10px 0px 20px;
}

.tDnD_whileDrag:hover {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-box-shadow: #000 0 0 0;
  -webkit-box-shadow: #000 0 0 0;
  box-shadow: #000 0 0 0;
}

.tDnD_whileDrag:before {
  position: absolute;
  left: 14px;
  font-size: 20px;
  line-height: 26px;
  color: #ac14c2;
  text-shadow: 0 5px #000, 0 10px #000, 5px 0 #000, 5px 5px #000, 5px 10px #000, 10px 0 #000, 10px 5px #000, 10px 10px #000;
}

.tDnD_whileDrag > td, .tDnD_whileDrag > td > a{
    color: #dc3545cc !important;
    font-weight: 800 !important;
    border: 0 !important;
}

.tDnD_whileDrag > td > form > button {
    font-weight: 800 !important;
    padding: 0.45rem 0.7rem !important;
    background-color: #dc3545cc !important;
    border-color: #dc3545cc !important;
}
/* END Drag&Drop Effect */


.custom_task_count {
  text-align: justify;
  padding: 4px 10px 30px 4px;
  margin-bottom: 21px;
}

.custom_task_count span {
  color: #8d0a15;
  font-weight: 700;
}

/* Change Password */
.custom_alert.custom_alert-danger {
  background-color: #8d0a15;
  border: none !important;
  color: #fff;
  padding: 10px;
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

.custom_alert.custom_alert-danger ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); background: #8d0a15; }
    100% { transform: translateY(-10px); background: #d21020; }
}
@keyframes mover {
    0% { transform: translateY(0); background: #8d0a15; }
    100% { transform: translateY(-10px); background: #d21020; }
}

button.change_pass_btn {
  margin: 0;
}
/* END Change Password */

/* Backup Phone & Backup Tokens */
#id_setup-method {
  list-style: none;
  padding: 0;
}
.custom_no_backup_codes {
  color: #dc3545cc !important;
}
/* END Backup Phone */

#custom_box {
  margin-top: 20px;
  background-color: #e6e6e67a;
  padding: 40px;
}

.custom_input_hidden {
  display: none;
}

.upload_books_front table tbody tr a {
  color: #8d0a15;
  font-weight: 900;
}

.custom_promjena_buttona {
  color: #8d0a15 !important;
  border-bottom: 1px solid #8d0a15 !important;
  transition: all 1s !important;
}

.custom_click {
  box-shadow: none !important;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hvr-pulse a:hover, .upload_books_front a:hover {
  text-decoration: none !important;
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Eldine ne mozes ID na input */
.real_file {
  display: none !important;
}

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #8d0a15;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  border-radius: 8px 0 0 8px !important;
}

.custom_alert_upload_books {
  margin-bottom: 5px !important;
}

.custom_file_name {
  font-size: 0.9rem !important;
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-pop .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pop:hover .hvr-icon, .hvr-icon-pop:focus .hvr-icon, .hvr-icon-pop:active .hvr-icon {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.modal-body strong {
  color: #8d0a15;
}

/* Changin the color of bootstrap's tooltip */

.tooltip-inner {
  background: #8d0a15;
  color: #fff;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
  .bs-tooltip-right .arrow::before {
    border-right-color: #8d0a15;
  }

.bs-tooltip-auto[x-placement^=left] .arrow::before,
  .bs-tooltip-left .arrow::before {
    border-left-color: #8d0a15;
  }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
  .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #8d0a15;
  }

.bs-tooltip-auto[x-placement^=top] .arrow::before,
  .bs-tooltip-top .arrow::before {
    border-top-color: #8d0a15;
  }

.custom_h1_nobooks {
  text-align: center;
  margin-top: 35px;
  color: #8d0a15;
}

.custom_card_body {
  padding: 0 0 1.25rem 0;
}

/* Search Results Title Hover */
.list-group .list-group-item.search_list_item .row.justify-content-between.align-items-center a:hover {
  color: #8d0a15;
}

.custom_poderror {
  padding: 0 25px 0 25px;
  font-style: italic;
}
.list-group.created_task li, .list-group.summary_group li {
  background-color: navajowhite;
}
.custom_poderror li {
  background-color: beige !important;
}
.all_tasks .all_tasks_container .task_num span{
  word-break: break-word;
}

.custom_book_id_error {
  color: #8d0a15 !important;
  font-weight: 900 !important;
}

/* Button Disabled */
.btn.disabled, button.disabled {
  cursor: not-allowed !important;
}

.custom_all_tasks_ul {
  margin-bottom: 20px;
}

.custom_task_subtitle {
  color: #fff !important;
}
.custom_tasks_button_add_new {
  color: #8a8a8a;
  background-color: #d9d9d9;
  margin-left: -15px;
  border-bottom: 2px solid #8a8a8a;
  margin-bottom: 1.25rem;
}
.custom_tasks_button_add_new i {
  padding-left: 10px;
}
.custom_tasks_button_add_new:hover {
  color: #8d0a15;
  border-bottom: 2px solid #8d0a15;
}
.custom_tasks_button_add_new:focus {
  box-shadow: none;
}
.custom_tasks_button_done_notdone {
  background-color: #9f313a;
  border-color: #9f313a;
}
.custom_tasks_button_done_notdone:hover {
  background-color: #8d0a15;
  border-color: #8d0a15;
}
.custom_tasks_button_done_notdone:not(:disabled):not(.disabled):active {
  background-color: #8d0a15;
  border-color: #8d0a15;
}
.custom_tasks_button_done_notdone:focus {
  box-shadow: 0 0 0 0.2rem rgb(159, 49, 58);
}

tbody tr.custom_todo_table_tbody {
  display: table-row;
}
.custom_card_header {
  background-color: #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  color: #8a8a8a;
}
.custom_task_comment_textarea:focus {
  border-color: #8d0a15;
  box-shadow: 0 0 0 0.2rem rgba(159, 49, 58, .25);
}
.custom_task_comment_textarea:focus-within {
  border-color: #8d0a15;
  box-shadow: 0 0 0 0.2rem rgba(159, 49, 58, .25);
}
.custom_task_comment_card {
  border: none;
}
.custom_task_comment_author {
  color: #8d0a15 !important;
  font-weight: 800 !important;
}

.custom_new_task_form label {
  color: #8d0a15;
}

.custom_form_email_address {
  /*padding: 0 18%;*/
  padding: 0 10%;
}
.custom_add_email_address {
  text-align: center;
  /*padding: 0 30%;*/
  padding: 0 25%;
}
.custom_mail_options_buttons button {
  font-weight: 500;
}

/* Radio Buttons */
.cntr {
  margin: auto;
  /*display: flex;*/
}
.btn-radio {
  cursor: pointer;
  /*display: inline-block;*/
  display: block;
  /*float: left;*/
  -webkit-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}
.btn-radio:not(:first-child) {
  /*margin-left: 20px;*/
}
@media screen and (max-width: 480px) {
  .btn-radio {
    display: block;
    float: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
.btn-radio svg {
  fill: none;
  vertical-align: middle;
}
.btn-radio svg circle {
  stroke-width: 2;
  stroke: #C8CCD4;
}
.btn-radio svg path {
  stroke: #8d0a15;
}
.btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}
.btn-radio input {
  display: none;
}
.btn-radio input:checked + svg path {
  transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}
.btn-radio span {
  display: inline-block;
  vertical-align: middle;
  word-break: break-word;
}

.custom_backup_phone_method {
  /* text-align: center; */
  font-size: 125%;
  font-weight: 600;
  color: #8d0a15;
  padding: 0px;
}

.custom_enable_2fa_login {
  background-color: #d9d9d9;
  color: #8a8a8a;
  padding: 8px 15px;
  border-radius: 5px;
  border-color: transparent;
  border-bottom: 2px solid #8a8a8a;
  font-weight: 500;
}
.custom_enable_2fa_login:hover {
  border-bottom: 2px solid #8d0a15;
   /*transition: .5s border-bottom linear;*/
  transition: all .5s;
  color: #8d0a15;
}
.custom_enable_2fa_login:focus {
  outline: none;
}
.custom_three_buttons {
  display: flex;
  justify-content: space-between;
}

.custom_reducing_header_height h3 {
  margin-bottom: 0 !important;
  padding: 40px 0 !important;
}
.custom_reducing_header_height p, .custom_books_reducing_header_height p {
  margin-bottom: 0 !important;
}
.custom_books_reducing_header_height h3 {
  margin-bottom: 0 !important;
  padding: 28px 0 !important;
}
.custom_add_book_cover_button {
  padding: 0 14px;
  /*border-radius: 8px 0 0 8px !important;*/
}
.custom_input_red_focus input:focus, .custom_input_red_focus textarea:focus, .custom_input_red_focus select:focus {
  border-color: #8d0a15;
  box-shadow: 0 0 0 0.2rem rgba(159, 49, 58, .25);
}
.custom_multiple_selection span span.selection span:focus-within {
  border-color: #8d0a15 !important; 
  box-shadow: 0 0 0 0.2rem rgba(159, 49, 58, .25) !important;
  border-radius: .25rem !important;
}
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ced4da !important;
}
label[for=id_author] {
  display: block;
}
.custom_import_csv_error {
  /*display: block !important;*/
  position: absolute !important;
  opacity: 0 !important;
  left: 80px !important;
}
.download_cvs_template_btn:focus, .upload_csv_btn:focus, .btn.import_csv_btn:focus {
  outline: none;
  box-shadow: none;
}
.django-ckeditor-widget {
  display: flex !important;
}