body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 0.9rem;
}
body::-webkit-scrollbar {
    width: 0px;
}
.form-container .wrapper h5{
    color: white;
    padding: 0 10px;
}
.form-container .wrapper a, .wrapper p{
    text-decoration: none;
    color: white;
}
.form-container{
    margin: 0;
    padding: 25px 0;
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    background: url('../images/logo.png') no-repeat, url('../images/background_img.png') no-repeat;
    background-size: 450px 145px, cover;
    background-position: 50% 0%, 50%;
}
.wrapper{
    padding: 55px 0;
    font-family: sans-serif;
    height: 60%;
    overflow: hidden;
    width: 500px;
    display: flex;
    align-items: center; 
    justify-content: center;
    text-align: center;
    position: relative;
    background: linear-gradient(#8d0a15, #43161d);
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.50), 0 15px 18px rgba(0,0,0,0.62);
}
.login-form{
    width: 500px;
    position: absolute;
    left: 0;
    transition: 1s left;
}
.token-form{
    width: 500px;
    position: absolute;
    right: -500px;
    transition: 1s right;
}
.form-container .input-container{
    position: relative;
    margin-bottom: 25px;
}
.input-container .input-icon{
    width: 15px;
    top: 7px;
    left: 30%;
    position: absolute;
}

/* Input Fields */
#username, #password, #email, #backup-token-input{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    margin-left: 40px;
    width: 40%;
    color: white;
    border-bottom: .2px solid  rgba(255, 255, 255, .3);
}

/* Style Placeholder and Animate Bottom-Border on Focus */ 
#username::placeholder, #password::placeholder, #email::placeholder, #token::placeholder, #backup-token-input::placeholder{
    padding-left: 5px;
    font-size: 16px;
}
#username:focus::placeholder, 
#password:focus::placeholder, 
#email:focus::placeholder,
#token:focus::placeholder,
#backup-token-input:focus::placeholder{
    color: transparent;
}
#username:focus, #password:focus, #email:focus, #backup-token-input:focus{
    border-bottom: 1px solid ;
    animation: 2s opacityBorder;
}
@keyframes opacityBorder{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Animate Icons on Focus */
#username:focus + img, 
#password:focus + img,
#email:focus + img,
#backup-token-input:focus + img{
    top: -8px;
    transition: .5s top;
}
#username:not(:focus) + img, 
#password:not(:focus) + img,
#email:not(:focus) + img,
#backup-token-input:not(:focus) + img{
    top: 7px;
    transition: .6s top;
}
.login-form .button-container{
    display: flex;
    justify-content: space-around;
    margin: 20px 0
}
.button-container a, .button-container input{
    padding: 8px 25px;
}
.button-container input{
    outline:none !important;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}
@media screen and (max-width: 480px) {
  .login-form, .token-form, .reset-form{ 
    width: 100%;
  }
}
@media screen and (min-width: 568px) and (max-width: 568px){
    .wrapper{
         padding: 75px 0;
    }
}

/* Positioning Logo for Devices With 320px */
@media screen and (min-width: 320px) and (max-width: 320px){
    .form-container{
        background-position: 50% -5%, 50%;
    }
}

/* Style Separately Token Form Input */
.token-form .token-input{
    outline: none;
    border: none;
    background-color: transparent;
    padding: 10px 0;
    width: 30%;
    color: white;
    border-bottom: .2px solid  rgba(255, 255, 255, .3);
}

/* Hidden Input Spinner */
.token-form .token-input[type=number]::-webkit-inner-spin-button,
.token-form .token-input[type=number]::-webkit-outer-spin-button,
.backup-token-form .backup-token-input[type=number]::-webkit-inner-spin-button,
.backup-token-form .backup-token-input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none; 
    margin: 0; 
}

/* Hide Spinner for Mozilla Browser */
.token-form .token-input[type=number],
.backup-token-form .backup-token-input[type=number]{
    -moz-appearance:textfield;
}

/* Style Buttons and Icons on the Form */
.token-form .token-input:focus{
    border-bottom: 1px solid ;
    animation: 2s opacityBorder;
}
.token-form .button-container div{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.token-form .button-container div .back{
    margin-right: 30px;
}
.token-form .button-container div button,.token-form .button-container div a, .token-form .button-container .backup-token{
    padding: 8px 25px;
}
.token-form .button-container div input, .token-form .button-container .backup-token{
    outline:none !important;
    border-radius: 8px;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(0, 0, 0, .2);
    cursor: pointer;
}
.token-form #token:focus + img{
    top: -8px;
    transition: .5s top;
}
.token-form #token:not(:focus) + img{
    top: 7px;
    transition: .6s top;
}

/* Button Hover Effect */
.form-container #login_btn,
.form-container #back,
.form-container #next,
.form-container .backup-token,
.form-container .reset-form input,
.form-container .backup-token-form .button-container input{
  position: relative;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.form-container #login_btn::after,
.form-container #back::after,
.form-container #next::after,
.form-container .backup-token::after,
.form-container input::after,
.form-container .backup-token-form .button-container input::after{
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.form-container #login_btn:hover,
.form-container #back:hover,
.form-container #next:hover,
.form-container .backup-token:hover,
.form-container .reset-form .button-container input:hover,
.form-container .backup-token-form .button-container input:hover{
    transform: scale(1.1, 1.1);
}

/* Reset Password Form */
.reset-form{
    width: 100%;
    position: absolute;
    left: -500px;
    transition: 1s;
}
.reset-form .button-container{
    display: flex;
    justify-content: center;
}
.reset-form .button-container .reset-password{
    margin-right: 30px;
}

/* Backup Token Form */
.backup-token-form{
    width: 100%;
    position: absolute;
    right: -500px;
    transition: 1s; 
}
.backup-token-form .button-container{
    display: flex;
    justify-content: center;
}
.backup-token-form .button-container #back-token-btn{
    margin-right: 30px;
}

/* Navbar */
@keyframes swing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(5deg);
    }
    70% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
/* body {
    font-size: 0.9rem;
} */

/* Sidebar Transitions */
.page-wrapper .sidebar-wrapper,
.sidebar-wrapper .sidebar-header > a,
.sidebar-wrapper .sidebar-dropdown > a:after,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before,
.sidebar-wrapper ul li a i,
.page-wrapper .page-content,
.sidebar-wrapper .sidebar-search input.search-menu,
.sidebar-wrapper .sidebar-search .input-group-text,
.sidebar-wrapper .sidebar-menu ul li a,
#show-sidebar,
#close-sidebar {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all .5s ease;
}

/* Page Wrapper */
.page-wrapper {
    height: 100vh;
}

/* Toggeled Sidebar */
.page-wrapper.toggled .sidebar-wrapper {
    left: 0px;
}
@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 260px;
    }
}

/* Show Sidebar Button */
#show-sidebar {
    position: fixed;
    left: 0;
    top: 7.5px;
    border-radius: 0 4px 4px 0px;
    width: 40px;
    height: 35px;
    transition-delay: 0.3s;
    background: linear-gradient(#8d0a15, #43161d);    /*linear-radient(#8d0a15, #43161d);*/
}
.page-wrapper.toggled #show-sidebar {
    left: -40px;
}
.fa-bars{
    color: #ffffff; 
    vertical-align: middle;
}

/* Sidebar Wrapper */
.sidebar-wrapper {
    width: 260px;
    height: 100%;
    max-height: 100%;
    position: fixed;
    top: 0;
    left: -300px;
    /*z-index: 2000;*/
    z-index: 800;
    box-shadow: 5px 0 15px -3px #888;
}
.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar-wrapper a {
    text-decoration: none;
}

/* Sidebar Content */
.sidebar-content {
    max-height: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

/* Sidebar Header */
.sidebar-wrapper .sidebar-header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
.sidebar-wrapper .sidebar-header > a {
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
}
.sidebar-wrapper .sidebar-header #close-sidebar {
    cursor: pointer;
    font-size: 20px;
}

/* Sidebar Menu */
.sidebar-wrapper .sidebar-menu {
    padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
    font-weight: bold;
}
.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.sidebar-wrapper .sidebar-menu ul li a:hover > i::before {
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    font-size: 8px;
}
.sidebar-wrapper .sidebar-menu ul li a span.label {
    float: right;
    margin-top: 8px;
    margin-left: 5px;
}
.sidebar-wrapper .sidebar-menu .sidebar-submenu {
    display: none;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a:after {
    transform: rotate(90deg);
    right: 17px;
}



/* Center progressbar */
.sidebar-wrapper .progressbar_wrapper{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content:center;
}
/* /Center progressbar*/

/* Page Content */
.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
}
.page-wrapper .page-content > div {
    padding: 20px 40px;
}
/*
.page-wrapper .page-content {
    overflow-x: hidden;
}
*/

/* Sidebar Scroll Bar */
.sidebar-content::-webkit-scrollbar {
    width: 4px;
    height: 7px;
}
.sidebar-content::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
.sidebar-content::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
.sidebar-content::-webkit-scrollbar-thumb:hover {
    background: #525965;
}
.sidebar-content::-webkit-scrollbar-thumb:active {
    background: #525965;
}
.sidebar-content::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
.sidebar-content::-webkit-scrollbar-track:hover {
    background: transparent;
}
.sidebar-content::-webkit-scrollbar-track:active {
    background: transparent;
}
.sidebar-content::-webkit-scrollbar-corner {
    background: transparent;
}

/* Chiller Theme */
.chiller-theme .sidebar-wrapper {
    background-color: #E6E6E6;
}
.chiller-theme .sidebar-wrapper .sidebar-menu {
    border-bottom: 0.3px solid #8d0a15;
}
.chiller-theme .sidebar-wrapper .sidebar-header > a,
.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
.chiller-theme .sidebar-footer > a {
    color: #8d0a15;
}
.chiller-theme .sidebar-wrapper .sidebar-menu ul li:hover > a,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active > a,
.chiller-theme .sidebar-wrapper .sidebar-header > a:hover {
    color: #43161d;
}
.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #8d0a15;
}
.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    transform: rotate(90deg) scale(1.1);
}
.chiller-theme .sidebar-wrapper ul li:hover a i,
.chiller-theme .sidebar-wrapper .sidebar-dropdown .sidebar-submenu li a:hover:before,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown.active a i {
    color:#43161d;
    text-shadow: 0px 0px 7px rgba(67, 22, 29, 0.5);
    transform: scale(1.2)
}

/* Search input */
.sidebar-wrapper .sidebar-search > div {
  padding: 10px 20px;
}
.chiller-theme .sidebar-wrapper .sidebar-search{
    border-top: 1px solid #8d0a15;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text{
    color: #8d0a15;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus+span{
    color: #43161d;
    text-shadow:0px 0px 7px rgba(46, 17, 20, 0.5);
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu::placeholder{
    color: #8d0a15;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus{
    border-bottom: 1px solid #43161d;
    transition: 1s border-bottom;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu{
    padding: 0;
    border-bottom: 1px solid rgba(67, 22, 29, .2);
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu:focus{
    border-bottom: 1px solid rgba(67, 22, 29, 1);
    transition: 1s border-bottom;
}
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: transparent;
}

/* Footer */
footer p{
    color: #8d0a15;
    margin-bottom: 4px;
}
footer .copyright{
    background-color: #d9d9d9;
    font-size: 0.8rem;
}
footer .useful-links{
    padding: 0;
    list-style-type: none;
    margin-bottom: 4px;
}
footer .useful-links li a{
    padding: 0 8px;
    color: #8d0a15;
    text-decoration: none;
}
footer .useful-links li{
    display: inline-block;
}

/* Change Email */
.change_email_form .change_email_header{
    background: url('../images/banners/change_email_banner.png') no-repeat;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.change_email_form .change_email_header h3{
    color: #ffffff;
    padding: 50px 0
}
.change_email_form .form .checkbox_option{
    font-weight:700
}
.change_email_form .form .checkbox_option .unverified_text{
    margin-left: 25px;
}
.change_email_form .form .button_group{
    display: flex;
    justify-content: space-between
}
.change_email_form .form .button_group button{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 15px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
}
.change_email_form .form .button_group button:focus, .change_email_form .add_email:focus{
    outline: none;
}
.change_email_form .form .button_group button:hover, .change_email_form .add_email:hover{
    border-bottom: 2px solid #8d0a15;
    /*transition: .5s border-bottom linear;*/
    transition: all .5s;
    color: #8d0a15;
}
.change_email_form .form .email_input_group .email_input_container span, .email_input_group form span{
    background-color: #d9d9d9;    
}
.change_email_form .form .email_input_group .email_input_container img, .email_input_group form img{
    width: 19px;
}
.change_email_form .form .email_input_group .email_input_container input{
    border-radius: none;
}
.change_email_form .form .email_input_group input:focus, .email_input_group form input:focus{
    box-shadow: none;
    border: 1px solid #8d0a15;
    transition: 1s all;
}
.change_email_form .add_email{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 45px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
    font-weight: 500;
}
.add_email {
    margin-bottom: 20px;
}
@media screen and (max-width: 450px){   
    .change_email_form .form .button_group{
        display: block;
    }
    .change_email_form .form .button_group button{
        margin-bottom: 5px;
    }
    .change_email_form .change_email_header{
        background-position: center
    }
    .change_email_form .change_email_header h3{
        padding: 5px;
    }
}

/* Change Password */
.change_pass_form .change_pass_header{
    background: url('../images/banners/change_password_banner.png') no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.change_pass_form .change_pass_header h3{
    color: #ffffff;
    padding: 50px 0;
}
.change_pass_form .pass_form .pass_input_container img{
    width: 19px;
}
.change_pass_form .pass_form .pass_input_container input:focus{
    box-shadow: none;
    border: 1px solid #8d0a15;
    transition: 1s all;
}
.change_pass_form .pass_form .change_pass_btn_container .change_pass_btn{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 45px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
    font-weight: 500;
}
.change_pass_form .pass_form .change_pass_btn_container .change_pass_btn:focus{
    outline: none;
}
.change_pass_form .pass_form .change_pass_btn_container .change_pass_btn:hover{
   border-bottom: 2px solid #8d0a15;
   color: #8d0a15;
   transition: .5s all; 
}  
/* @media screen and (max-width: 450px){ 
    change_pass_form .change_pass_header{
        background-position: top left;
    }
    .change_pass_form .change_pass_header h3{
        padding: 5px;
    } 
} */
.pass_form {
    text-align: center;
    padding: 0 30%;
}

/* 2FA settings */
.two_fa_settings_form .two_fa_settings_header{
    background: url('../images/banners/account_security_banner.png') no-repeat;
    /*background-position: 0;*/
    background-size: cover;
    background-position: center top;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.two_fa_settings_form .two_fa_settings_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.two_fa_settings_form .two_fa_settings_btn_container .two_fa_settings_btn{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 15px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
}
.two_fa_settings_btn {
    font-weight: 500;
}
.two_fa_settings_form .two_fa_settings_btn_container .two_fa_settings_btn:hover{
   border-bottom: 2px solid #8d0a15;
   /*transition: .5s border-bottom linear;*/
   transition: all .5s;
   color: #8d0a15;
}
.two_fa_settings_form .two_fa_settings_btn_container .two_fa_settings_btn:focus{
    outline: none;
}
.two_fa_settings_form .two_fa_settings_btn_container p{
    text-align: justify;
}
/* @media screen and (max-width: 450px){ 
    .two_fa_settings_form .two_fa_settings_header{
        background-position: top left;
    }
    .two_fa_settings_form .two_fa_settings_header h3{
        padding: 5px;
    }
} */

/* Disable 2FA */
.disable_2fa_form .disable_2fa_header{
    background: url('../images/banners/disable_2fa_banner.png') no-repeat;
    background-size: cover;
    background-position: top;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.disable_2fa_form .disable_2fa_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.disable_2fa_form .disable_2fa_btn{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 15px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
    font-weight: 500;
}
.disable_2fa_form .disable_2fa_btn:hover{
   border-bottom: 2px solid #8d0a15;
   color: #8d0a15;
   transition: .5s all; 
}
.disable_2fa_form .disable_2fa_btn:focus{
    outline: none;
}
@media screen and (max-width: 450px){
    .disable_2fa_form .disable_2fa_header{
        background-position: top left;
    }
    .disable_2fa_form .disable_2fa_header h3{
        padding: 5px;
        font-size: 1.2rem;
    }
}

/* Phone Backup */
.backup_phone_form  .backup_phone_header{
    background: url('../images/banners/backup_phone_banner.png') no-repeat;
    background-size: 100% 100%;
    /*background-position: top;*/
    background-position: 25%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.backup_phone_form  .backup_phone_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.backup_phone_form .backup_phone_container h6{
    text-align: justify;
}
.backup_phone_form .backup_phone_container .backup_form .backup_input_container img{
    width: 19px;
}
.backup_phone_form .backup_phone_container .backup_form .backup_input_container input:focus, input#id_validation-token:focus, input#id_sms-number:focus, input#id_call-number:focus, input#id_generator-token:focus {
    box-shadow: none;
    border: 1px solid #8d0a15;
    transition: 1s all;
}
.backup_phone_form .backup_phone_container .backup_form .backup_phone_group .cntr #id_setup-method li label{
    padding: 0;
}
.backup_phone_form .backup_phone_container .backup_form .backup_phone_btn_container button{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 15px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
    font-weight: 500;
}
.backup_phone_form .backup_phone_container .backup_form .backup_phone_btn_container button:hover{
   border-bottom: 2px solid #8d0a15;
   color: #8d0a15;
   transition: .5s all;
}
.backup_phone_form .backup_phone_container .backup_form .backup_phone_btn_container button:focus{
    outline: none;
}
@media screen and (max-width: 450px){
    /* .backup_phone_form  .backup_phone_header{
        background-position: top left;
    } */
    .backup_phone_form  .backup_phone_header h3{
        padding: 5px;
        font-size: 1.2rem;
    }
}

/* Token Backup */
.backup_token_form  .backup_token_header{
    background: url('../images/token_security.png') no-repeat;
    background-size: cover;
    background-position: top;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.backup_token_form  .backup_token_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.backup_token_form .backup_token_container .token_backup_form .backup_token_input_container img{
    width: 19px;
}
.backup_token_form .backup_token_container .token_backup_form .backup_token_input_container input:focus{
    box-shadow: none;
    border: 1px solid #8d0a15;
    transition: 1s all;
}
.backup_token_form .backup_token_container .token_backup_form .backup_token_btn_container button{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 15px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
}
.backup_token_form .backup_token_container .token_backup_form .backup_token_btn_container button:hover{
   border-bottom: 2px solid #8d0a15;
   transition: .5s border-bottom linear; 
}
.backup_token_form .backup_token_container .token_backup_form .backup_token_btn_container button:focus{
    outline: none;
}
@media screen and (max-width: 450px){
    .backup_token_form  .backup_token_header{
        background-position: top left;
    }
    .backup_token_form  .backup_token_header h3{
        padding: 5px;
        font-size: 1.2rem;
    }
}

/* Token List */
.token_list_form .token_list_header{
    background: url('../images/banners/backup_codes_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.token_list_form .log_out_banner {
    background: url('../images/banners/log_out_banner.png') no-repeat;
    background-size: cover;
    background-position: 65% 70%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.token_list_form .token_list_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.token_list_form .token_list_container h6{
    text-align: justify;
}
.token_list_form .token_list_container .token_list{
    padding: 0;
    list-style: none;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.token_list_form .token_list_container .token_list li{
    border-bottom: 2px solid #d9d9d9;
    padding: 2px 0;
    font-weight: 500;
}
.token_list_form .token_list_container .token_list li:hover{
    border-bottom: 2px solid #8d0a15;
    color: #8d0a15;
    background-color: #d9d9d9;
    transition: 1s all linear
}
.token_list_form .token_list_container .token_list_btn_container a{
    text-decoration: none;
}
.token_list_form .token_list_container .token_list_btn_container a:hover{
   color: #8d0a15; 
}
.token_list_form .token_list_container .token_list_btn_container .token_list_generate{
    background-color: #d9d9d9;
    color: #8a8a8a;
    padding: 8px 40px;
    border-radius: 5px;
    border-color: transparent;
    border-bottom: 2px solid #8a8a8a;
    font-weight: 500;
}
.token_list_form .token_list_container .token_list_btn_container .token_list_generate:hover{
   border-bottom: 2px solid #8d0a15;
   color: #8d0a15;
   transition: .5s all; 
}
.token_list_form .token_list_container .token_list_btn_container .token_list_generate:focus{
    outline: none;
}
@media screen and (max-width: 450px){
    /* .token_list_form .token_list_header{
        background-position: top left;
    } */
    .token_list_form .token_list_header h3{
        padding: 5px;
        font-size: 1.2rem;
    }
}

/* Contact Us */
.contact_us_form .contact_us_header{
    background: url('../images/banners/contact_us_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.contact_us_form .contact_us_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.contact_us_form .contact_us_form_container .contact_us_input_container .rounded_top_corner{
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.contact_us_form .contact_us_form_container .contact_us_input_container textarea{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.contact_us_form .contact_us_form_container .contact_us_input_container input:focus,
.contact_us_form .contact_us_form_container .contact_us_input_container textarea:focus{
    box-shadow: none;
    border: 1px solid #8d0a15;
    transition: 1s all;
}
.contact_us_form .contact_us_form_container .contact_us_btn_container .contact_us_btn{
    padding: 10px 65px;
    color: #ffffff;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(to right, #8d0a15 0%, #43161d 100%);
    background-size: 300% 100%;
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.contact_us_form .contact_us_form_container .contact_us_btn_container .contact_us_btn:focus{
    outline: none;
}
.contact_us_form .contact_us_form_container .contact_us_btn_container .contact_us_btn:hover{
    background-position: 50% 0%;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}  
@media screen and (max-width: 450px){
    .contact_us_form .contact_us_header{
        background-position: top left;
    }
    .contact_us_form .contact_us_header h3{
        padding: 5px;
        font-size: 1.2rem;
    }
}
.contact_us_form .contact_us_form_container .contact_us_input_container textarea::-webkit-scrollbar {
    width: 4px;
}
.contact_us_form .contact_us_form_container .contact_us_input_container textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(141, 10, 21 ,0.5); 
    border-radius: 10px;
}
.contact_us_form .contact_us_form_container .contact_us_input_container textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(141, 10, 21 ,1); 
}

/* All Uploaded Books */
.upload_books_front .upload_books_front_header{
    background: url('../images/banners/all_books_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.upload_books_front .upload_books_front_header h3{
    color: #ffffff;
    padding: 50px 0 
} 
.upload_books_front .upload_books_btn_container button{
    background-color: #d9d9d9;
    color: #8a8a8a;
    margin-right: 15px;
    border-radius: 8px;
    text-decoration: none;
    
}
.upload_books_front .upload_books_btn_container button:hover{
    color: #8d0a15;
    border-bottom: 1px solid #8d0a15;
    transition: all 1s;
}
.upload_books_front .upload_books_btn_container button b{
    padding-left: 5px;
}
.upload_books_front tbody {
    display:block;
    height:345px;
    overflow:auto;
}
/* scrollbar Width */
.upload_books_front table tbody::-webkit-scrollbar {
  width: 7px;
}
/* scrollbar Track */
.upload_books_front table tbody::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(141, 10, 21 ,0.5); 
    border-radius: 10px;
}
/* scrollbar Handle */
.upload_books_front table tbody::-webkit-scrollbar-thumb {
   border-radius: 10px;
    background-color: rgba(141, 10, 21 ,1);
}
.upload_books_front thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.upload_books_front thead {
    width: calc( 100% - 1em )
}
.upload_books_front tbody tr td span{
    color: #8a8a8a;
    font-size: .75rem;
}
.upload_books_front table tbody tr:hover{
    background-color: rgba(138,138,138, 0.2);
}
.upload_books_front table thead tr th{
    border-top: none;
}
.upload_books_front table thead tr th:hover{
    cursor: pointer;
    background-color: rgba(138,138,138, 0.2);
}
@media screen and (max-width: 450px){
    .upload_books_front .upload_books_front_header{
        background-position: 70%;
    }
    .upload_books_front .upload_books_front_header h3{
        padding: 8px 0 8px 0;
        font-size: 1rem;
    }
    .upload_books_front .table_container table tbody td img{
        display: none;
    }
}

/* Upload Books Types*/
.upload_book .upload_book_header{
    background: url('../images/banners/create_book_type_banner.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.upload_book .upload_book_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.upload_book .version_book_container .format_wrapper{
    border: 2px solid #8d0a15;
    height: 85%;
    border-radius: 8px;
    width: 75%;
    margin: 20px auto;
}
.upload_book .version_book_container .format_wrapper a{
    text-decoration: none;
    color: #8a8a8a;
    font-weight: 500;
}
@media screen and (max-width: 450px){
    .upload_book .upload_book_header{
        background-position: 70%;
    }
    .upload_book .upload_book_header h3{
        padding: 8px 0 8px 0;
        font-size: 1rem;
    }
    .upload_book .version_book_container .format_wrapper{
        width: 100%;
        height: 135px;
    }
}

/* Upload E-Book */
.upload_e-book .upload_e-book_header{
    background: url('../images/banners/create_book_type_banner.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.upload_e-book .upload_e-book_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.upload_e-book form .e-book_title:focus{
    outline: none;
    box-shadow: none;
    border-color: #8d0a15;
    transition: 1s border-color linear
}
.upload_e-book form .e-book_btn_container #real-file{
    display: none;
}
.upload_e-book form .e-book_btn_container .e-book_btn_wrapper{
    padding-left: 0;
    background-color: #d9d9d9;
    border-radius: 8px;
}
.upload_e-book form .e-book_btn_container .e-book_btn_wrapper span{
    color: #8a8a8a;
    margin-left: 10px;
}
.upload_e-book form .e-book_btn_container .e-book_btn{
    padding-right: 15px;
    border-right: 1px solid #8a8a8a;
    border-radius: 0;
}
.upload_e-book form .e-book_btn_container button:focus,.upload_e-book form .e-book_btn_container .upload_e-book:focus{
    outline: none;
    box-shadow: none;
}
.upload_e-book form .e-book_btn_container button img{
    width: 40px
}
.upload_e-book form .e-book_btn_container .upload_e-book{
    color: #8a8a8a;
    background-color: #d9d9d9;
    margin-left: -15px;
    border-bottom: 2px solid #8a8a8a;
}
.upload_e-book form .e-book_btn_container .upload_e-book:hover{
    color: #8d0a15;
    border-bottom: 2px solid #8d0a15;
}
.upload_e-book form .e-book_btn_container .upload_e-book i{
    padding-right: 10px;
}
@media screen and (max-width: 450px){
    .upload_e-book .upload_e-book_header h3{
        padding: 8px 0 8px 0;
        font-size: 1rem;
    }
}

/* Single Book Details*/
.single_book_detail .single_book_detail_header{
    background: url('../images/banners/details_books_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.single_book_detail .single_book_detail_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.single_book_detail .book_info p .book_file{
    /*width: 40px;*/
    width: 100px;
}
.single_book_detail .book_info .book_container div{
    display: inline-block;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 8px;
}
/*.single_book_detail .book_info .book_container div:hover{
    border: 1px solid red;
    transition: .5s all linear;
}*/
.single_book_detail .book_info .book_container .download_single_btn, .single_book_detail .book_info .book_container .download_all_btn{
    color: #8a8a8a;
    background-color: #d9d9d9;
    border-bottom: 2px solid #8a8a8a;
}
.single_book_detail .book_info .book_container .download_single_btn:focus, .single_book_detail .book_info .book_container .download_all_btn:focus{
    outline: none;
    box-shadow: none;
}
.single_book_detail .book_info .book_container .download_single_btn i , .single_book_detail .book_info .book_container .download_all_btn i{
        padding-right: 10px;
}
.single_book_detail .book_info .book_container .download_single_btn:hover, .single_book_detail .book_info .book_container .download_all_btn:hover{
    color: #8d0a15;
    border-bottom: 2px solid #8d0a15;
}
.single_book_detail_header p {
    color: #fff;
}
@media screen and (max-width: 450px){
    .single_book_detail .single_book_detail_header h3{
        padding: 8px 0 8px 0;
        font-size: 1rem;
    }
    .single_book_detail .book_info p .book_file{
        width: 25px;
    }
    .single_book_detail .book_info .book_container .download_single_btn, .single_book_detail .book_info .book_container .download_all_btn{
        font-size: .7rem;
    }
    .single_book_detail .book_info .book_container .download_single_btn i, .single_book_detail .book_info .book_container .download_all_btn i{
        display: none;
    }
}

/* Image Hover Show Button */
/*.show_hover_container {
  position: relative;
  margin-top: 50px;
  width: 500px;
  height: 300px;
}*/
.show_hover_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.show_hover_container:hover .show_hover_overlay {
  /*display: block;*/
  /*background: rgba(0, 0, 0, .3);*/
  background: #8d0a15b8;
}
/*.show_hover_container img {
  position: absolute;
  width: 500px;
  height: 300px;
  left: 0;
}*/
.show_hover_title {
  position: absolute;
  /*width: 500px;*/
  width: 100%;
  left: 0;
  top: 120px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top .5s ease;
}
.show_hover_container:hover .show_hover_title {
  top: 35px;
}
.show_hover_button {
  position: absolute;
  /*width: 500px;*/
  width: 100%;
  left:0;
  top: 172px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}
.show_hover_button a {
  width: 220px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
  text-decoration: none;
}
.show_hover_container:hover .show_hover_button {
  opacity: 1;
}
.show_hover_button i {
    padding-right: 10px;
}
.show_hover_button_link {
    top: 95px;
}

/* Import CSV */
.import_csv .import_csv_header{
    background: url('../images/banners/import_csv_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.import_csv .import_csv_header h3{
    color: #ffffff;
    padding: 50px 0 
}
.import_csv .import_csv_container .real_csv_file{
    display: none;
}
.import_csv .import_csv_container .import_csv_wrapper{
    padding-left: 0;
    background-color: #d9d9d9;
    border-radius: 8px;
}
.import_csv .import_csv_wrapper span{
    color: #8a8a8a;
    margin-left: 10px;
    font-weight: 500;
}
.import_csv .import_csv_btn{
    padding-right: 15px;
    border-right: 1px solid #8a8a8a;
    border-radius: 0;
}
.import_csv .import_csv_container button img{
    width: 40px
}
.import_csv .import_csv_container .upload_csv_btn{
    color: #8a8a8a;
    background-color: #d9d9d9;
    margin-left: -15px;
    border-bottom: 2px solid #8a8a8a;
    padding: 11px 25px;
    font-weight: 500;
}
.import_csv .import_csv_container .upload_csv_btn:hover{
    color: #8d0a15;
    border-bottom: 2px solid #8d0a15;
}
.import_csv .import_csv_container .upload_csv_btn i{
    padding-right: 10px;
}
.import_csv .import_csv_container .download_cvs_template_btn{
    color: #8a8a8a;
    background-color: #d9d9d9;
    margin-left: -15px;
    border-bottom: 2px solid #8a8a8a;
    font-weight: 500;
}
.import_csv .import_csv_container .download_cvs_template_btn:hover{
    color: #8d0a15;
    border-bottom: 2px solid #8d0a15;
}
.import_csv .import_csv_container .download_cvs_template_btn i{
    padding-right: 10px;
}
@media screen and (max-width: 450px){
    .import_csv .import_csv_header h3{
        padding: 8px 0 8px 0;
        font-size: .8rem;
    }
}

/* Search Results */
.search_results .search_results_header{
    background: url('../images/banners/search_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.search_results .search_results_header h3{
    color: #ffffff;
    padding: 50px 0
}
.search_results .search_results_container h6{
    color: #8a8a8a
}
.search_results .search_results_container .search_list_item{
    margin: 6px 0;
    border-radius: 8px;
    background-color: #d9d9d9;
}
.search_results .search_results_container .search_list_item:hover{
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.55);
    transition: .2s box-shadow linear;
}
.search_results .search_results_container .search_list_item h5{
    color: #8a8a8a
}
.search_results .search_results_container .search_list_item p{
    margin: 0;
}
.search_results .search_results_container .search_list_item p a{
    text-decoration: none;
}
.search_results .search_results_container .search_list_item .completed{
    color: #317c2d;
}
.search_results .search_results_container .search_list_item .not_completed{
    color: #8e1c1c;
}
@media screen and (max-width: 450px){
    .search_results .search_results_header h3{
        padding: 8px 0 8px 0;
        font-size: .8rem;
    }
}

/* CSV Upload Results */
.csv_upload_result .csv_upload_result_header{
    background: url('../images/csv_upload_result_banner.png') no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.csv_upload_result .csv_upload_result_header h3{
    color: #ffffff;
    padding: 50px 0
}
.csv_upload_result .csv_upload_result_container .summary_group .list-group-item,
.csv_upload_result .csv_upload_result_container .created_task .list-group-item{
    margin: 6px 0;
    border-radius: 8px;
    color: #8a8a8a;
}
@media screen and (max-width: 450px){
    .csv_upload_result .csv_upload_result_header h3{
        padding: 8px 0 8px 0;
        font-size: .8rem;
    }
}

/* Error 404 */
.not_found_page h1{
    color: #d9d9d9;
    font-size: 8em;
    font-weight: bold;
    text-shadow: 9px 11px 10px rgba(0,0,0,0.79);

}
.not_found_page .not_found_btn{
     color: #8a8a8a;
    background-color: #d9d9d9;
    border-bottom: 2px solid #8a8a8a;   
}
.not_found_page .not_found_btn:hover{
    color: #8d0a15;
    border-bottom: 2px solid #8d0a15;  
}
.not_found_page .not_found_btn:focus{
    outline: none;
    box-shadow: none;
}
@media screen and (max-width: 450px){
    .not_found_page h2{
        padding-bottom: 0px;
    }
    .not_found_page h3{
       font-size: 1rem 
    }
}

/* All Tasks */
.all_tasks .all_tasks_header{
    /*background: url('../images/all_tasks_banner.png') no-repeat;*/
    background: url('../images/banners/pencil_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.all_tasks .all_tasks_header h3{
    color: #ffffff;
    padding: 50px 0
}
.all_tasks .all_tasks_container .all_tasks_btn{
    color: #8a8a8a;
    background-color: #d9d9d9;
    margin-left: -15px;
    border-bottom: 2px solid #8a8a8a;    
}
.all_tasks .all_tasks_container .all_tasks_btn:hover{
    color: #8d0a15;
    border-bottom: 2px solid #8d0a15;
}
.all_tasks .all_tasks_container .all_tasks_btn i{
    padding-left: 10px;
}
.all_tasks .all_tasks_container ul .list-group-item{
    border-radius: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #8a8a8a
}
.all_tasks .all_tasks_container .list-group a .list-group-item span{
    background-color: #d9d9d9;
    padding: 5px 9px;
    color: #8a8a8a
}
.all_tasks .all_tasks_container ul a{
    margin: 3px 0;
    text-decoration: none;
}
.all_tasks .all_tasks_container ul a:hover .list-group-item{
    -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.55);
    transition: .2s box-shadow linear;
    color: #8d0a15;
}
.all_tasks .all_tasks_container ul a:hover .list-group-item span{
    background-color:  #8d0a15;
    color: #ffffff;
}
.all_tasks .all_tasks_container .all_tasks_btn:focus{
    outline: none;
    box-shadow: none;
}
@media screen and (max-width: 450px){
    .all_tasks .all_tasks_header h3{
        padding: 8px 0 8px 0;
        font-size: .8rem;
    }
    .all_tasks .all_tasks_container .all_tasks_btn{
        float: left;
    }
    .all_tasks .all_tasks_container .task_num{
        order: 2
    }
}

/* Detail Tasks */
.details_tasks2 .details_tasks2_header{
    background: url('../images/banners/tasks_details_banner.png') no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.details_tasks2_header_new_detail {
    background: url('../images/banners/notebook_banner.png') no-repeat;
}
.details_tasks2_header_new_add {
    background: url('../images/banners/cards_banner.png') no-repeat;
}
.details_tasks2_header_new_detail, .details_tasks2_header_new_add {
    background-size: cover;
    background-position: center bottom;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.details_tasks2 .details_tasks2_header h3, .details_tasks2_header_new_detail h3, .details_tasks2_header_new_add h3{
    color: #ffffff;
    padding: 50px 0
}
.details_tasks2 .details_tasks2_container .details_tasks2_table_container .table tbody tr td button{
    background-color: #1c7f1c;
    color: #ffffff;
    border: none;
}
@media screen and (max-width: 450px){
    .details_tasks2 .details_tasks2_header h3, .details_tasks2_header_new_detail h3, .details_tasks2_header_new_add h3{
        padding: 8px 0 8px 0;
        font-size: .8rem;
    }
}
.unverified {
    color: #8d0a15;
}
.verified {
    color: forestgreen;
}