/* Extra Small Devices Breakpoint*/
@media screen and (max-width: 575.98px ){
    body{
        font-size: 90%;
    }
    #show-sidebar{
        z-index: 3;
    }

    /*Change email template CSS*/
    .page-wrapper .page-content > div{
        
        margin-bottom: 20px;
    }
    .change_email_form .change_email_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .change_email_form h6{
        font-size: .9rem;
    }
    .custom_add_email_address{
        padding: 0;
    }
    .change_email_form .btn-radio svg {
        display: block;
        margin: auto;
    }
    /* End of Change email template CSS*/

    /* Change password template CSS */
    .change_pass_form .change_pass_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .change_pass_form .pass_form{
        padding: 0;
    }
    .change_pass_form .pass_form .change_pass_btn_container .change_pass_btn{
        padding: 8px 40px;
    }
    
    /* End of change password template CSS */

    /* Account security template CSS */
    .two_fa_settings_form .two_fa_settings_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .two_fa_settings_form h6{
        font-size: .9rem;
    }
    /* End of Account security template CSS */

    /* Logout template CSS */
    .token_list_form .log_out_banner h3{
        padding: 15px 0;
        font-size: 1rem; 
    }
    /* End of Logout template CSS */

    /* Backupe phone template CSS */
    .backup_phone_form .backup_phone_header{
        background-position: 27%;
    }
    
    .backup_phone_form .backup_phone_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .backup_phone_form .backup_phone_container h6{
        font-size: 0.9rem;
        text-align: justify;
    }
    /* End of Backup pohone template */

    /* Token list template CSS */
    .token_list_form .token_list_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    /* End of token list template CSS */

    /* Disable 2FA template CSS*/
    .disable_2fa_form .disable_2fa_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .disable_2fa_form .disable_2fa_header{
        background-position: 30%;
    }
    /* End of disable 2fa template*/

    /* Contact us template CSS*/
    .contact_us_form .contact_us_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .all_tasks .all_tasks_container .new_task_btn{
        display: flex;
        justify-content: center;
    }
    .all_tasks .all_tasks_container .task_num{
        text-align: center;
    }
    .contact_us_form h6{
        font-size: .9rem;
    }
    /* End of contact us template*/

    /* All tasks template CSS*/
    .all_tasks .all_tasks_header h3{
        padding: 15px 0;
        font-size: 1rem; 
    }
    .all_tasks
    /* End of all tasks template*/

    /* Import CSV template CSS*/
    .import_csv .import_csv_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .import_csv .uploading_csv_btn{
        text-align: center;
    }
    /* End of import CSV template */

    /* Search results template CSS */
    .search_results .search_results_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .search_results .search_results_container ul li{
        padding: 5px 10px;
    }
    .search_results .search_results_container h6{
        font-size: .9rem;
    }
    /* End of Search Results template */
    /* Upload CSV results CSS template */
    .csv_upload_result .csv_upload_result_container h6{
        text-align: justify;
    }
    /* End of Upload CSV results template */

    /* No Book Error Template CSS*/
    .content_not_found_page h6{
        font-size: .9rem;
    }
    /* End of No Book Error template*/

    /* My Tasks Template CSS */
    /*  */
    .details_tasks2 .details_tasks2_header, .details_tasks2_header_new_detail, .details_tasks2_header_new_add{
        /* background: url('../images/banners/my_tasks_mobile_banner.png') no-repeat; */
        background-size: cover;
        background-position: 20%;
        background-size: cover;
    }
    .details_tasks2 .details_tasks2_header h3, .details_tasks2_header_new_detail h3, .details_tasks2_header_new_add h3{
        font-size: 1rem;
        padding: 15px 0 !important;
    }
    p.custom_task_subtitle {
        font-size: 0.6rem;
    }
    .details_tasks2 h6{
        font-size: .9rem;
    }
    .details_tasks2 .details_tasks2_container .details_tasks2_upload_file_container{
        padding: 1.25rem 0.7rem;
    }
    
    /* End of My Tasks template */
    /* Enable 2FA Template CSS */
    .two_fa_settings_form p{
        text-align: justify;
    }
    .two_fa_settings_form .custom_three_buttons{
        display: flex;
        flex-wrap: wrap;
        max-width: 322px;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .two_fa_settings_form .custom_enable_2fa_login{
        text-align: center;
        margin: 5px;
        max-width: 80px;
        flex-basis: 100px;
        flex-grow: 0;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number .custom_enable_2fa_login{
        max-width: 175px;
        flex-basis: 175px;
    }
    /* End of Enable 2FA Template */

    /* Delete Item List Template CSS */
    .task_list_delete .task_list_delete_header h3{
        padding: 15px 0;
        font-size: 1rem;
    }
    .task_list_delete .task_list_delete_container h6{
        font-size: 0.9rem;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons a,
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-grow: 0;
        margin: 7px;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-basis: 0;
    }
    /* End of Delete Item List Template */

    /* Create New Book Template CSS */
    .upload_books_front .custom_buttons_create_new_book_container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_back{
        /* flex-basis: 90px; */
        order: 1;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_save{
        /* flex-basis: 90px; */
        order: 2;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_save_and_add{
        order: 3;
    }
    .upload_books_front .create_new_book_upload_file_container .custom_add_book_cover_button img,
    .upload_books_front .edit_book_upload_file_container .custom_add_book_cover_button img{
        width: 40px;
    }
    .upload_books_front #id_co_author_email a{
        display: block;
    }
    .upload_books_front .custom_buttons_edit_book_container{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .upload_books_front .edit_book_cancel_btn{
        /* flex-basis: 45%;
        max-width: 80%;
        flex-grow: 0; */
    }
    .upload_books_front .edit_book_save_btn{
        /* flex-basis: 45%;
        max-width: 80%;
        flex-grow: 0; */
    }
    /* End of Create New Book Template */
}

/*Small Devices Breakpoint */
@media (min-width: 576px) and (max-width: 767.98px){
    body{
        font-size: 95%;
    }
     /*Change email template CSS*/
    .page-wrapper .page-content > div{
        margin-bottom: 20px;
    }
    .change_email_form .change_email_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .custom_add_email_address{
        padding: 0 10%;
    }
    .btn-radio svg{
        display: block;
        margin: auto;
    }
    /* End of Change email template CSS*/
    /* Change password template CSS */
    .change_pass_form .change_pass_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .change_pass_form .pass_form{
        padding: 0 10%;
    }
    /* End of change password template CSS */
    /* Account security template CSS */
    .two_fa_settings_form .two_fa_settings_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of Account security template CSS */
    /* Logout template CSS */
    .token_list_form .log_out_banner h3{
        padding: 15px 0;
        font-size: 1.4rem; 
    }
    /* End of Logout template CSS */
    /* Backupe phone template CSS */
    .backup_phone_form .backup_phone_header{
        background-position: 27%;
    }
    
    .backup_phone_form .backup_phone_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of Backup pohone template */

    /* Token list template CSS */
    .token_list_form .token_list_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of token list template CSS */

    /* Disable 2FA template CSS*/
    .disable_2fa_form .disable_2fa_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .disable_2fa_form .disable_2fa_header{
        background-position: 30%;
    }
    /* End of disable 2fa template*/
    /* Contact us template CSS*/
    .contact_us_form .contact_us_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .contact_us_form h6{
        text-align: center;
    }
    /* End of contact us template*/
    /* All tasks template CSS*/
    .all_tasks .all_tasks_header h3{
        padding: 15px 0;
        font-size: 1.4rem; 
    }
    /* End of all tasks template*/

    /* Import CSV template CSS*/
    .import_csv .import_csv_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .import_csv .uploading_csv_btn .upload_csv_btn{
        float: right;
    }
    /* End of import CSV template */

    /* Search results template CSS */
    .search_results .search_results_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of Search Results template */
    /* Upload CSV results CSS template */
    .csv_upload_result .csv_upload_result_container h6{
        text-align: justify;
    }
    /* End of Upload CSV results template */
    /* My Tasks Template CSS */
    .details_tasks2 .details_tasks2_header h3, .details_tasks2_header_new_detail h3, .details_tasks2_header_new_add h3{
        font-size: 1.4rem;
        padding: 15px 0 !important;
    }
    p.custom_task_subtitle {
        font-size: 0.65rem;
    }
    /* End of My Tasks template */
    
    /* Enable 2FA Template CSS */
    .two_fa_settings_form p{
        text-align: justify;
    }

    .two_fa_settings_form .custom_three_buttons{
        display: flex;
        flex-wrap: wrap;
        max-width: 322px;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .two_fa_settings_form .custom_enable_2fa_login{
        text-align: center;
        margin: 5px;
        max-width: 80px;
        flex-basis: 100px;
        flex-grow: 0;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number{
        max-width: 641px;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number .custom_enable_2fa_login{
        max-width: 175px;
        flex-basis: 175px;
    }
    /* End of Enable 2FA Template */
    /* Delete Item List Template CSS */
    .task_list_delete .task_list_delete_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons a,
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-grow: 0;
        margin: 7px;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-basis: 0;
    }
    /* End of Delete Item List Template */

    /* Create New Book Template CSS */
    .upload_books_front .custom_buttons_create_new_book_container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-evenly;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_back{
        /* flex-basis: 100px; */
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_save{
        /* flex-basis: 100px; */
    }
    .upload_books_front .create_new_book_upload_file_container .custom_add_book_cover_button img,
    .upload_books_front .edit_book_upload_file_container .custom_add_book_cover_button img{
        width: 40px;
    }
    .upload_books_front .create_book_wrapper_comparible_authname_authmail{
        justify-content: center;
    }
    .upload_books_front #id_co_author_email a{
        display: block;
    }
    .upload_books_front .custom_buttons_edit_book_container{
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 70%;
        margin: auto;
    }
    .upload_books_front .edit_book_cancel_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    .upload_books_front .edit_book_save_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    /* End of Create New Book Template */
}

/* Tablet Devices Breakpoint */
@media (min-width: 768px) and (max-width: 991.98px){
    body{
        font-size: 100%;
    }
    /*Change email template CSS*/
    .change_email_form .change_email_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .custom_add_email_address{
        padding: 0 15%;
    }
    /* End of Change email template CSS*/
    /* Change password template CSS */
    .change_pass_form .change_pass_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .change_pass_form .pass_form{
        padding: 0 15%;
    } 
    /* End of change password template CSS */
        /* Account security template CSS */
        .two_fa_settings_form .two_fa_settings_header h3{
            padding: 15px 0;
            font-size: 1.4rem;
        }
    /* End of Account security template CSS */
    /* Logout template CSS */
    .token_list_form .log_out_banner h3{
        padding: 15px 0;
        font-size: 1.4rem; 
    }
    /* End of Logout template CSS */
    /* Backupe phone template CSS */
    .backup_phone_form .backup_phone_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .backup_phone_form .backup_phone_container h6{
        text-align: center;
    }
    /* End of Backup pohone template */

    /* Token list template CSS */
    .token_list_form .token_list_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of token list template CSS */
    
    /* Disable 2FA template CSS*/
    .disable_2fa_form .disable_2fa_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .disable_2fa_form .disable_2fa_header{
        background-position: 30%;
    }
    /* End of disable 2fa template*/
    /* Contact us template CSS*/
    .contact_us_form .contact_us_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .contact_us_form h6{
        text-align: center;
    }
    /* End of contact us template*/
    /* All tasks template CSS*/
    .all_tasks .all_tasks_header h3{
        padding: 15px 0;
        font-size: 1.4rem; 
    }
    /* End of all tasks template*/

    /* Import CSV template CSS*/
    .import_csv .import_csv_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of import CSV template */

    /* Search results template CSS */
    .search_results .search_results_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    /* End of Search Results template */
    /* Upload CSV results CSS template */
    .csv_upload_result .csv_upload_result_container h6{
        text-align: center;
    }
    /* End of Upload CSV results template */
    /* My Tasks Template CSS */
    .details_tasks2 .details_tasks2_header h3, .details_tasks2_header_new_detail h3, .details_tasks2_header_new_add h3{
        font-size: 1.4rem;
        padding: 15px 0 !important;
    }
    p.custom_task_subtitle {
        font-size: 0.75rem;
    }
    .details_tasks2 h6{
        text-align: center;
    }
    /* End of My Tasks template */
    /* Enable 2FA Template CSS */
    .two_fa_settings_form p{
        text-align: center;
    }
    .two_fa_settings_form .custom_three_buttons{
        display: flex;
        flex-wrap: wrap;
        max-width: 322px;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .two_fa_settings_form .custom_enable_2fa_login{
        text-align: center;
        margin: 5px;
        max-width: 80px;
        flex-basis: 100px;
        flex-grow: 0;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number{
        max-width: 641px;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number .custom_enable_2fa_login{
        max-width: 175px;
        flex-basis: 175px;
    }
    /* End of Enable 2FA Template */
    /* Delete Item List Template CSS */
    .task_list_delete .task_list_delete_header h3{
        padding: 15px 0;
        font-size: 1.4rem;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons a,
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-grow: 0;
        margin: 7px;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-basis: 130px;
    }
    /* End of Delete Item List Template */

    /* Task Detail Template CSS */
    .chiller-theme.toggled .details_tasks2 .details_tasks2_container .description_details{
        max-width: 100%;
        justify-content: center;
        margin: auto;
    }
    .chiller-theme.toggled .details_tasks2 .details_tasks2_container .description_details .card{
        max-width: 100%;
        flex-basis: 100%;
        margin-bottom: 10px;
    }
    /* End of Task Detail Template */

    /* Create New Book Template CSS */
    .upload_books_front .custom_buttons_create_new_book_container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: center;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_back{
        /* flex-basis: 100px; */
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_save{
        /* flex-basis: 100px; */
    }
    .upload_books_front .create_new_book_upload_file_container .custom_add_book_cover_button img,
    .upload_books_front .create_new_book_input_files_container .create_new_book_import_cover_file .edit_book_upload_file_container img{
        width: 40px;
    }
    .page-wrapper.chiller-theme.toggled .create_new_book_input_files_container .input_author_field{
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .create_new_book_comparible,
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .create_new_book_coauthor_name,
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .create_new_book_coauthor_email,
    .page-wrapper.chiller-theme.toggled .edit_book_wrapper_comparible_authname_authmail .edit_book_comparible,
    .page-wrapper.chiller-theme.toggled .edit_book_wrapper_comparible_authname_authmail .edit_book_coauthor_name,
    .page-wrapper.chiller-theme.toggled .edit_book_wrapper_comparible_authname_authmail .edit_book_coauthor_email{
        flex-basis: 100%;
        max-width: 100%;
        flex-grow: 0;
    }
    .page-wrapper.chiller-theme.toggled .create_new_book_input_files_container .create_new_book_import_cover_file{
        flex-grow: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    .upload_books_front #id_co_author_email a{
        display: block;
    }
    .upload_books_front #edit_book_upload_file_container{
        max-width: 100%;
    }
    .upload_books_front .custom_buttons_edit_book_container{
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        margin: auto;
    }
    .upload_books_front .edit_book_cancel_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    .upload_books_front .edit_book_save_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    /* End of Create New Book Template */
}

/* Large Devices Breakpoint */
@media (min-width: 992px) and (max-width: 1199.98px){
    body{
        font-size: 100%;
    }
    /*Change email template CSS*/
    .change_email_form .change_email_header h3{
        padding: 25px 0px;
        font-size: 1.5rem;
    }
    /* End of Change password template CSS*/
    .change_pass_form .change_pass_header h3{
        padding: 25px 0px;
        font-size: 1.5rem;
    }
    /* End of change password template CSS */
    /* Account security template CSS */
    .two_fa_settings_form .two_fa_settings_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    /* End of Account security template CSS */
    /* Logout template CSS */
    .token_list_form .log_out_banner h3{
        padding: 25px 0;
        font-size: 1.5rem; 
    }
    /* End of Logout template CSS */
    /* Backupe phone template CSS */
    .backup_phone_form .backup_phone_header{
        background-size: 100% 100%;
    }
    .backup_phone_form .backup_phone_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    .backup_phone_form .backup_phone_container h6{
        text-align: center;
    }
    /* End of Backup pohone template */

    /* Token list template CSS */
    .token_list_form .token_list_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    /* End of token list template CSS */
    
    /* Disable 2FA template CSS*/
    .disable_2fa_form .disable_2fa_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    /* End of disable 2fa template*/
    /* Contact us template CSS*/
    .contact_us_form .contact_us_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    .contact_us_form h6{
        text-align: center;
    }
    /* End of contact us template*/
    /* All tasks template CSS*/
    .all_tasks .all_tasks_header h3{
        padding: 25px 0;
        font-size: 1.5rem; 
    }
    /* End of all tasks template*/
    /* Import CSV template CSS*/
    .import_csv .import_csv_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    .import_csv .uploading_csv_btn .upload_csv_btn{
        float: right;
    }
    /* End of import CSV template */
    
    /* Search results template CSS */
    .search_results .search_results_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    /* End of Search Results template */
    /* Upload CSV results CSS template */
    .csv_upload_result .csv_upload_result_container h6{
        text-align: center;
    }
    /* End of Upload CSV results template */
    
    /* My Tasks Template CSS */
    .details_tasks2 .details_tasks2_header h3, .details_tasks2_header_new_detail h3, .details_tasks2_header_new_add h3{
        font-size: 1.5rem;
        padding: 25px 0 !important;
    }
    p.custom_task_subtitle {
        font-size: 0.85rem;
    }
    .details_tasks2 h6{
        text-align: center;
    }
    /* End of My Tasks template */
    /* Enable 2FA Template CSS */
    .two_fa_settings_form p{
        text-align: center;
    }

    .two_fa_settings_form .custom_three_buttons{
        display: flex;
        flex-wrap: wrap;
        max-width: 640px;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .two_fa_settings_form .custom_enable_2fa_login{
        text-align: center;
        margin: 5px;
        max-width: 120px;
        flex-basis: 120px;
        flex-grow: 0;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number{
        max-width: 641px;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number .custom_enable_2fa_login{
        max-width: 175px;
        flex-basis: 175px;
    }

    .two_fa_settings_form .card-body h4, .two_fa_settings_form .card-body h6, .two_fa_settings_form .card-body p{
        text-align: center;
    }
    /* End of Enable 2FA Template */
    /* Delete Item List Template CSS */
    .task_list_delete .task_list_delete_header h3{
        padding: 25px 0;
        font-size: 1.5rem;
    }
    .task_list_delete .task_list_delete_container .info{
        text-align: center;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons a,
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-grow: 0;
        margin: 7px;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-basis: 130px;
    }
    .task_list_delete .task_list_delete_container .delete_category{
        display: flex;
        justify-content: center;
    }
    /* End of Delete Item List Template */

    /* Create New Book Template CSS */
    .upload_books_front .custom_buttons_create_new_book_container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: space-evenly;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_back{
        /* flex-basis: 100px; */
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_save{
        /* flex-basis: 100px; */
    }
    .upload_books_front .create_new_book_upload_file_container .custom_add_book_cover_button img,
    .upload_books_front .edit_book_upload_file_container .custom_add_book_cover_button img{
        width: 40px;
    }
    .upload_books_front #id_co_author_email a{
        display: block;
    }

    .page-wrapper.chiller-theme.toggled .create_book_wrapper_title_subtitle_workno .create_book_title_subtitle_worknumber_container div,
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .row.d-flex div {
        flex-basis: 50%;
        max-width: 55%;
        flex-grow: 0;
    }
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_title_subtitle_workno .create_book_title_subtitle_worknumber_container div:nth-child(3) {
        margin: 0 auto;
    }
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .row.d-flex div:nth-child(3) {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center;
    }
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .row.d-flex div:nth-child(3) > div {
        flex-basis: 100%;
        max-width: 100%;
        text-align: center !important;
    }
    .page-wrapper.chiller-theme.toggled .create_new_book_input_files_container{
        max-width: 80%;
        margin: auto;
    }
    .page-wrapper.chiller-theme.toggled .create_new_book_input_files_container div{
        flex-basis: 100%;
        max-width: 100%;
        flex-grow: 0;
    }
    .page-wrapper.chiller-theme.toggled .edit_book_title_subtitle_worknumber_container div{
        flex-basis: 50%;
        max-width: 55%;
        flex-grow: 0;
    }
    
    .upload_books_front .custom_buttons_edit_book_container{
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 100%;
        margin: auto;
    }
    .upload_books_front .edit_book_cancel_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    .upload_books_front .edit_book_save_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    /* End of Create New Book Template */
}

/* Extra Large Devices Breakpoint */
@media (min-width: 1200px){
    body{
        font-size: 100%;
    }
    .backup_phone_form .backup_phone_container h6{
        text-align: center;
    }
    .import_csv .uploading_csv_btn{
        text-align: right;
    }
    .import_csv .import_csv_container .upload_csv_btn{
        margin-right: 10px;
    }
    .contact_us_form h6{
        text-align: center;
    }
    .search_results .search_results_header{
        background-position: center;
    }
    /* Upload CSV results CSS template */
    .csv_upload_result .csv_upload_result_container h6{
        text-align: center;
    }
    /* End of Upload CSV results template */
    /* My Tasks Template CSS */
    .details_tasks2 h6{
        text-align: center;
    }
    /* End of My Tasks Template */
    /* Enable 2FA Template CSS */
    .two_fa_settings_form p{
        text-align: center;
    }
    .two_fa_settings_form .custom_three_buttons{
        display: flex;
        flex-wrap: wrap;
        max-width: 640px;
        justify-content: center;
        align-items: center;
        margin: auto;
    
    }
    .two_fa_settings_form .custom_enable_2fa_login{
        text-align: center;
        margin: 5px;
        max-width: 120px;
        flex-basis: 120px;
        flex-grow: 0;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number{
        max-width: 641px;
    }
    .two_fa_settings_form .custom_three_buttons.bck_to_profile_add_number .custom_enable_2fa_login{
        max-width: 175px;
        flex-basis: 175px;
    }
    
    .two_fa_settings_form .card-body h4, .two_fa_settings_form .card-body h6, .two_fa_settings_form .card-body p{
        text-align: center;
    }
    /* End of Enable 2FA Template */
    /* Delete Item List Template CSS */
    .task_list_delete .task_list_delete_header{
        background-position: 75%;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons a,
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input,
    .task_list_delete .task_list_delete_container .task_list_delete_buttons button{
        flex-grow: 0;
        margin: 7px;
    }
    .task_list_delete .task_list_delete_container .task_list_delete_buttons input{
        flex-basis: 130px;
    }
    .task_list_delete .task_list_delete_container .info{
        text-align: center;
    }
    .task_list_delete .task_list_delete_container .delete_category{
        display: flex;
        justify-content: center;
    }
    /* End of Delete Item List Template */
    /* Tasks Details Template CSS */
    .details_tasks2 .details_tasks2_container .details_task2_attachment_container .details_tasks2_custom_file {
        max-width: 350px;
    }
    /* End of Tasks Details Template */
    /* Create New Book Template CSS */
    .upload_books_front .custom_buttons_create_new_book_container{
        display: flex;
        flex-wrap: wrap;
        max-width: 80%;
        margin: auto;
        justify-content: space-evenly;
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_back{
        /* flex-basis: 100px; */
    }
    .upload_books_front .custom_buttons_create_new_book_container .create_new_book_save{
        /* flex-basis: 100px; */
    }
    .upload_books_front .create_new_book_upload_file_container .custom_add_book_cover_button img,
    .upload_books_front .edit_book_upload_file_container .custom_add_book_cover_button img{
        width: 40px;
    }
    .upload_books_front #id_co_author_email a{
        display: block;
    }
    
    .upload_books_front .custom_buttons_edit_book_container{
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 50%;
        margin: auto;
    }
    .upload_books_front .edit_book_cancel_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    .upload_books_front .edit_book_save_btn{
        /* flex-basis: 35%;
        max-width: 80%;
        flex-grow: 0; */
    }
    /* End of Create New Book Template */
}




/* Showing text depending of width size*/
/* @media (min-width: 1367px){
    .import_csv .import_csv_container .import_csv_wrapper .short_txt{
        display: none;
    }
    .import_csv .import_csv_container .import_csv_wrapper .long_txt{
        display: inline-block;
    }
} */

@media (min-width: 959px) and (max-width: 1023.98px){
    .import_csv_container .import_csv_wrapper{
        max-width: 70%;
        margin: auto;
    }
}
/* Centering h6 text for import CSV template, for resolutions above 768px*/
@media (min-width:767.98px){
    .import_csv .import_csv_container h6{
        text-align: center
    }
}

/* Import CSV Task (Responsive) - positioning Choose Source File and Upload button based on wheter the sidebar is opened or not */
@media (min-width: 767.98px) and (max-width: 1111.98px) {
    .page-wrapper.chiller-theme .card-body.import_csv_container form > div:first-of-type {
        max-width: 50%;
    }
    .page-wrapper.chiller-theme .card-body.import_csv_container form > div:nth-of-type(2) {
        max-width: 40%;
    }
    .page-wrapper.chiller-theme.toggled .card-body.import_csv_container form > div:first-of-type {
        max-width: 100%;
        flex: 0 0 100% !important;
        margin-left: 0;
    }
    .page-wrapper.chiller-theme.toggled .card-body.import_csv_container form > div:nth-of-type(2) {
        max-width: 100%;
    }
}

/* Search results (Responsive) - positioning Choose Source File and Upload button based on wheter the sidebar is opened or not */
@media (min-width: 767.98px) and (max-width: 1111.98px) {
    .page-wrapper.chiller-theme.toggled .search_results .search_list_item .list_item_wrapper > div:first-of-type {
        max-width: 100%;
    }
    .page-wrapper.chiller-theme.toggled .search_results .search_list_item .list_item_wrapper > div:nth-of-type(2) {
        max-width: 100%;
        flex: 0 0 100% !important;
    }
}

@media (min-width: 1600px){
    .upload_books_front .create_new_book_input_files_container{
        max-width: 75%;
        margin: auto;
    }
}
@media (min-width: 767.98px) and (max-width: 788.98px){
    .upload_books_front .create_new_book_input_files_container{
        max-width: 80%;
        margin: auto;
    }
    .upload_books_front .create_new_book_input_files_container .input_author_field,
    .upload_books_front .create_new_book_input_files_container .create_new_book_import_cover_file{
        flex-basis: 100%;
        max-width: 100%;
        flex-grow: 0;
    }
    .page-wrapper.chiller-theme.toggled .upload_books_front .create_new_book_input_files_container{
        margin: 0;
        max-width: 100%;
    }
}
/* Align buttons for Enable 2FA template, last buttons switch to new row */
/* @media (max-width: 369px){
    .two_fa_settings_form .custom_three_buttons:not(.bck_to_profile_add_number){
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .two_fa_settings_form .two_fa_next{
        flex: 1 1 100%;
        margin-top: 15px;
        margin-bottom: 30px;
    }
} */

/* Hiding navbar for desktop devices
@media (max-width: 767.98px){
    .sidebar-menu.desktop_menu{
        display: none;
    }
}*/

/* Hiding navbar for desktop devices */
/*
@media (min-width: 768px){
    .sidebar-menu.mobile_menu{
        display: none;
    }
} */

/* Centering buttons for Upload CSV results */
/* @media (min-width: 767.98px) and (max-width: 802px) {
    .page-wrapper.chiller-theme .card-body.import_csv_container form > div:first-of-type {
        max-width: 45%;
    }
    .page-wrapper.chiller-theme .card-body.import_csv_container form > div:nth-of-type(2) {
        max-width: 37%;
    }
} */
@media screen and (max-width: 1200px ) {
    .details_tasks2 .details_tasks2_container table {
        width: 650px;
    }
}
/*@media (min-width: 991.98px) and (max-width: 1304px) {
    form#enterNewBookForm label {
        font-size: 0.92rem;
    }
}*/
@media screen and (max-width: 1304px) {
    form#enterNewBookForm label {
        font-size: 0.92rem;
    }
}
@media (min-width: 767.98px) and (max-width: 992px) {
    .create_book_wrapper_title_subtitle_workno .create_book_title_subtitle_worknumber_container div:nth-child(3) {
        margin: 0 auto;
    }
    .page-wrapper.chiller-theme .create_book_wrapper_comparible_authname_authmail .row.d-flex div:nth-child(3) {
        text-align: center;
        margin: 0 auto;
    }
    .page-wrapper.chiller-theme.toggled .create_book_wrapper_comparible_authname_authmail .row.d-flex div:nth-child(3) {
        text-align: inherit;
        margin-bottom : 1rem;
    }
    .page-wrapper.chiller-theme .create_book_wrapper_comparible_authname_authmail .row.d-flex div:nth-child(3) > div {
        text-align: center;
    }
    .page-wrapper.chiller-theme .create_new_book_input_files_container .custom_multiple_selection.input_author_field > span {
        width: 100% !important;
    }
}