{% extends "books/base.html" %}
{% load i18n %}
{% load static %}
    
{% block title %}
	Book - {{ book.title }}
{% endblock %}

{% block content %}
	<div class="single_book_detail mt-4">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card-body single_book_detail_header custom_books_reducing_header_height">
                    <h3 class="mb-1">[{{ book.working_number|upper }}] {{ book.title }}</h3>
                    <p>{% trans "Uploaded:" %} <small>{{ book.uploaded_at|date:'d/m/Y, H:i' }}</small></p>
                    {% if book.uploaded_at == book.modified_at %}
                        <p>{% trans "It hasn't been modified yet!" %}</p>
                    {% else %}
                        <p>{% trans "Modified:" %} <small>{{ book.modified_at|date:'d/m/Y, H:i' }}</small></p>
                    {% endif %}
                </div>
                <div class="card-body book_info">
                    <div class="row">
                    	<div class="col-12 text-center mt-4 book_container">
                            <h5>{% trans "Cover:" %}</h5>
                            {% if book.cover %}
                            	<img src="/media/{{ book.cover }}" width="30%" />
                            {% else %}
                            	<p>{% trans "Not uploaded!" %}</p>
                            {% endif %}
                        </div>
                        <div class="col-12 text-center mt-4 book_container">
                            <h5>{% trans "Working Number:" %}</h5>
                            {{ book.working_number }}
                        </div>
                        <div class="col-6 text-center mt-4 book_container">
                            <h5>{% trans "Title:" %}</h5>
                            {{ book.title }}
                        </div>
                        <div class="col-6 text-center mt-4 book_container">
                            <h5>{% trans "Subtitle:" %}</h5>
                            {{ book.subtitle }}
                        </div>
                        <div class="col-12 text-center mt-4 book_container">
                            <h5>{% trans "Description:" %}</h5>
                            {{ book.description|safe }}
                        </div>
                        <div class="col-4 text-center mt-4 book_container">
                            <h5>{% trans "Comparible:" %}</h5>
                            {{ book.comparible }}
                        </div>
                        <div class="col-4 text-center mt-4 book_container">
                            <h5>{% trans "Co Authors:" %}</h5>
                            {% for co_author in book.co_author_name.all %}
                                {% if forloop.last %}
                                    {{ co_author }}
                                {% else %}
                                    {{ co_author }},<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-4 text-center mt-4 book_container">
                            <h5>{% trans "Co Author Emails:" %}</h5>
                            {% for co_author in book.co_author_name.all %}
                                {% if forloop.last %}
                                    {{ co_author.email }}
                                {% else %}
                                    {{ co_author.email }},<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-12 text-center mt-4 book_container">
                            <h5>{% trans "Co Authors Instructions:" %}</h5>
                            {{ book.co_author_instructions|safe }}
                        </div>
                        <div class="col-12 text-center mt-4 book_container">
                            <h5>{% trans "Authors:" %}</h5>
                            {% for author in book.author.all %}
                                {% if forloop.last %}
                                    {{ author }}
                                {% else %}
                                    {{ author }},<br>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% if book.ebook %}
	                        <div class="upload_books_front col-6">
		                        <div class="upload_books_btn_container text-center mt-4">
					                <div>
										<a href="{% url 'uploaded_books:details_ebook' main_book_id=book.id book_id=book.ebook.id %}">
											<button class="btn"><i class="fas fa-book fa-lg"></i>
												<b>{% trans "OPEN E-BOOK" %}</b>
											</button>
										</a>
									</div>
					            </div>
					        </div>
	                    {% else %}
                            {% if request.user.is_superuser %}
    		                    <div class="upload_books_front col-6">
    		                        <div class="upload_books_btn_container text-center mt-4">
    					                <div>
    										<a href="{% url 'uploaded_books:upload_ebook' book_id=book.id %}">
    											<button class="btn"><i class="fas fa-book fa-lg"></i>
    												<b>{% trans "CREATE E-BOOK" %}</b>
    											</button>
    										</a>
    									</div>
    					            </div>
    					        </div>
                            {% endif %}
	                    {% endif %}
	                    {% if book.book5x8 %}
	                    	<div class="upload_books_front col-6">
		                        <div class="upload_books_btn_container text-center mt-4">
					                <div>
										<a href="{% url 'uploaded_books:details_5x8' main_book_id=book.id book_id=book.book5x8.id %}">
											<button class="btn"><i class="fas fa-book fa-lg"></i>
												<b>{% trans "OPEN 5x8 BOOK" %}</b>
											</button>
										</a>
									</div>
					            </div>
					        </div>
	                    {% else %}
                            {% if request.user.is_superuser %}
    	                    	<div class="upload_books_front col-6">
    		                        <div class="upload_books_btn_container text-center mt-4">
    					                <div>
    										<a href="{% url 'uploaded_books:upload_5x8' book_id=book.id %}">
    											<button class="btn"><i class="fas fa-book fa-lg"></i>
    												<b>{% trans "CREATE 5x8 BOOK" %}</b>
    											</button>
    										</a>
    									</div>
    					            </div>
    					        </div>
                            {% endif %}
	                    {% endif %}
                        {% if book.book_A5_hardcover %}
                            <div class="upload_books_front col-6">
                                <div class="upload_books_btn_container text-center mt-4">
                                    <div>
                                        <a href="{% url 'uploaded_books:details_a5_hardcover' main_book_id=book.id book_id=book.book_A5_hardcover.id %}">
                                            <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                <b>{% trans "OPEN A5 HARDCOVER BOOK" %}</b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <div class="upload_books_front col-6">
                                    <div class="upload_books_btn_container text-center mt-4">
                                        <div>
                                            <a href="{% url 'uploaded_books:upload_a5_hardcover' book_id=book.id %}">
                                                <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                    <b>{% trans "CREATE A5 HARDCOVER BOOK" %}</b>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if book.book_115x18_fnsku %}
                            <div class="upload_books_front col-6">
                                <div class="upload_books_btn_container text-center mt-4">
                                    <div>
                                        <a href="{% url 'uploaded_books:details_115x18_fnsku' main_book_id=book.id book_id=book.book_115x18_fnsku.id %}">
                                            <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                <b>{% trans "OPEN 115x18 FNSKU BOOK" %}</b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <div class="upload_books_front col-6">
                                    <div class="upload_books_btn_container text-center mt-4">
                                        <div>
                                            <a href="{% url 'uploaded_books:upload_115x18_fnsku' book_id=book.id %}">
                                                <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                    <b>{% trans "CREATE 115x18 FNSKU BOOK" %}</b>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if book.book_115x18_isbn %}
                            <div class="upload_books_front col-6">
                                <div class="upload_books_btn_container text-center mt-4">
                                    <div>
                                        <a href="{% url 'uploaded_books:details_115x18_isbn' main_book_id=book.id book_id=book.book_115x18_isbn.id %}">
                                            <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                <b>{% trans "OPEN 115x18 ISBN BOOK" %}</b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <div class="upload_books_front col-6">
                                    <div class="upload_books_btn_container text-center mt-4">
                                        <div>
                                            <a href="{% url 'uploaded_books:upload_115x18_isbn' book_id=book.id %}">
                                                <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                    <b>{% trans "CREATE 115x18 ISBN BOOK" %}</b>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if book.book_125x19_hardcover %}
                            <div class="upload_books_front col-6">
                                <div class="upload_books_btn_container text-center mt-4">
                                    <div>
                                        <a href="{% url 'uploaded_books:details_125x19_hardcover' main_book_id=book.id book_id=book.book_125x19_hardcover.id %}">
                                            <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                <b>{% trans "OPEN 125x19 KDP TB ISBN BOOK" %}</b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <div class="upload_books_front col-6">
                                    <div class="upload_books_btn_container text-center mt-4">
                                        <div>
                                            <a href="{% url 'uploaded_books:upload_125x19_hardcover' book_id=book.id %}">
                                                <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                    <b>{% trans "CREATE 125X19 KDP TB ISBN BOOK" %}</b>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if book.book_125x19_fnsku %}
                            <div class="upload_books_front col-6">
                                <div class="upload_books_btn_container text-center mt-4">
                                    <div>
                                        <a href="{% url 'uploaded_books:details_125x19_fnsku' main_book_id=book.id book_id=book.book_125x19_fnsku.id %}">
                                            <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                <b>{% trans "OPEN 125x19 FNSKU BOOK" %}</b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <div class="upload_books_front col-6">
                                    <div class="upload_books_btn_container text-center mt-4">
                                        <div>
                                            <a href="{% url 'uploaded_books:upload_125x19_fnsku' book_id=book.id %}">
                                                <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                    <b>{% trans "CREATE 125X19 FNSKU BOOK" %}</b>
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if book.book_125x19_isbn %}
                            <div class="upload_books_front col-6">
                                <div class="upload_books_btn_container text-center mt-4">
                                    <div>
                                        <a href="{% url 'uploaded_books:details_125x19_isbn' main_book_id=book.id book_id=book.book_125x19_isbn.id %}">
                                            <button class="btn"><i class="fas fa-book fa-lg"></i>
                                                <b>{% trans "OPEN 125x19 ISBN BOOK" %}</b>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {% if request.user.is_superuser %}
                                <div class="upload_books_front col-6">
                                    <div class="upload_books_btn_container text-center mt-4">
                                        <div>
                                            <a href="{% url 'uploaded_books:upload_125x19_isbn' book_id=book.id %}">
                                                <button class="btn"><i class="fas fa-book fa-lg"></i><b>{% trans "CREATE 125X19 ISBN BOOK" %}</b></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="row">
	                    {% if request.user.is_superuser %}
	                        <div class="col-6 col-md-6 text-center mt-5 book_container">
	                        	<a href="{% url 'dashboard:edit_books' book_id=book.id %}">
	                        		<button class="download_all_btn btn" type="button"><i class="fas fa-download"></i>{% trans "Edit Book" %}</button>
	                        	</a>
	                        </div>
	                        <div class="col-6 col-md-6 text-center mt-5 book_container">
	                        	<!-- Button trigger modal -->
	                            <button class="download_all_btn btn" type="button" data-toggle="modal" data-target="#deleteBook">
	                            	<i class="fas fa-download"></i>{% trans "Delete Book" %}
	                            </button>
	                        </div>
	                    {% else %}
	                    	<div class="col-6 col-md-6 text-center mt-5 book_container">
	                        	<button class="download_all_btn btn disabled" type="button" data-toggle="tooltip" data-placement="top" title="You don't have permissions to do that!"><i class="fas fa-download"></i>{% trans "Edit Book" %}</button>
	                        </div>
	                        <div class="col-6 col-md-6 text-center mt-5 book_container">
	                            <button class="download_all_btn btn disabled" type="button" data-toggle="tooltip" data-placement="top" title="You don't have permissions to do that!">
	                            	<i class="fas fa-download"></i>{% trans "Delete Book" %}
	                            </button>
	                        </div>
	                    {% endif %}
                        {# <button type="button" class="btn btn-primary" id="showtoast">Show Toast</button> #}
	               	</div>
                </div>
            </div>
        </div>
    </div>
    {% include 'books/modals/modal_delete_book.html' %}
{% endblock %}

{% block other_js %}
    <script>
        // triggering toastr notification once we delete a book 
        $('#custom_btn_delete_book').click(function () {
            toastr["success"]("The Book - <strong>{{ book.title }}</strong> has been deleted!");
        });
    </script>
{% endblock %}