{% extends "books/base.html" %}

{% load i18n %}
{% load static %}

{% block other_css %}
    <link href="{% static 'css/animated_book.css' %}" rel="stylesheet"/>
{% endblock %}

{% block title %}
	{% trans "Book" %} - {{ book.title }}
{% endblock %}

{% block content %}
	<div class="single_book_detail mt-4">
        <div class="row">
            <div class="col-12 col-md-8 offset-md-2">
                <div class="card-body single_book_detail_header custom_books_reducing_header_height">
                    <h3 class="mb-1">[{{ book.working_number|upper }}] {{ book.title }}</h3>
                    <p>{% trans "Uploaded:" %} <small>{{ book.uploaded_at|date:'d/m/Y, H:i' }}</small></p>
                    {% if book.uploaded_at == book.modified_at %}
                        <p>{% trans "It hasn't been modified yet!" %}</p>
                    {% else %}
                        <p>{% trans "Modified:" %} <small>{{ book.modified_at|date:'d/m/Y, H:i' }}</small></p>
                    {% endif %}
                </div>
                <div class="custom_back_button">
                    <a href="{% url 'dashboard:all_uploaded_books' %}"><button class="all_tasks_btn btn custom_tasks_button_add_new" type="button"><i class="fas fa-arrow-left"></i>{% trans "Go Back" %}</button></a>
                </div>
                <div class="card-body book_info">
                    <div class="card custom_card_cover_image">
                        <h5 class="card-header custom_card_header">
                            <img src="{% static 'images/book_details/cover.png' %}" class="mr-2" alt="" width="25px" />{% trans "Cover" %}
                        </h5>
                        <div class="card-body">
                            {% if book.cover %}
                                <div class"animated_book_body">
                                    <div class="component">
                                      <ul class="align">
                                        <li>
                                          <figure class='book'>        
                                            <!-- Front -->        
                                            <ul class='hardcover_front'>
                                              <li>
                                                <img src="/media/{{ book.cover }}" alt="" width="100%" height="100%">
                                              </li>
                                              <li></li>
                                            </ul>        
                                            <!-- Pages -->        
                                            <ul class='page'>
                                              <li></li>
                                              <li>
                                                <a class="animated_book_btn" href="#" data-toggle="modal" data-target="#bookTypes">{% trans "Book Types" %}</a>
                                              </li>
                                              <li></li>
                                              <li></li>
                                              <li></li>
                                            </ul>        
                                            <!-- Back -->        
                                            <ul class='hardcover_back'>
                                              <li></li>
                                              <li></li>
                                            </ul>
                                            <ul class='book_spine'>
                                              <li></li>
                                              <li></li>
                                            </ul>
                                          </figure>
                                        </li>
                                      </ul>  
                                    </div>
                                </div>
                            {% else %}
                                <div class"animated_book_body">
                                    <div class="component">
                                      <ul class="align">
                                        <li>
                                          <figure class='book'>        
                                            <!-- Front -->        
                                            <ul class='hardcover_front'>
                                              <li>
                                                {# <img src="/static/images/navbar_logo.png" alt="" width="100%" height="100%"> #}
                                                <span style="line-height: 10;">Cover Not Uploaded</span>
                                              </li>
                                              <li></li>
                                            </ul>        
                                            <!-- Pages -->        
                                            <ul class='page'>
                                              <li></li>
                                              <li>
                                                <a class="animated_book_btn" href="#" data-toggle="modal" data-target="#bookTypes">{% trans "Book Types" %}</a>
                                              </li>
                                              <li></li>
                                              <li></li>
                                              <li></li>
                                            </ul>        
                                            <!-- Back -->        
                                            <ul class='hardcover_back'>
                                              <li></li>
                                              <li></li>
                                            </ul>
                                            <ul class='book_spine'>
                                              <li></li>
                                              <li></li>
                                            </ul>
                                          </figure>
                                        </li>
                                      </ul>  
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-deck">
                        <div class="card mt-4">
                            <h5 class="card-header custom_card_header">
                                <img src="{% static 'images/book_details/title.png' %}" class="mr-2" alt="" width="25px" />{% trans "Title" %}
                            </h5>
                            <div class="card-body">
                                <span>{{ book.title }}</span>
                            </div>
                        </div>
                        <div class="card mt-4">
                            <h5 class="card-header custom_card_header">
                                <img src="{% static 'images/book_details/subtitle.png' %}" class="mr-2" alt="" width="25px" />{% trans "Subtitle" %}
                            </h5>
                            <div class="card-body">
                                {% if book.subtitle %}
                                    <span>{{ book.subtitle }}</span>
                                {% else %}
                                    <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <h5 class="card-header custom_card_header">
                            <img src="{% static 'images/book_details/description.png' %}" class="mr-2" alt="" width="25px" />{% trans "Description" %}
                        </h5>
                        <div class="card-body">
                            {% if book.description %}
                                <span>{{ book.description }}</span>
                            {% else %}
                                <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-deck">
                        <div class="card mt-4">
                            <h5 class="card-header custom_card_header">
                                <img src="{% static 'images/book_details/co_author.png' %}" class="mr-2" alt="" width="25px" />{% trans "Co Authors" %}
                            </h5>
                            <div class="card-body">
                                {% if book.co_author_name.all %}
                                    {% for co_author in book.co_author_name.all %}
                                        {% if forloop.last %}
                                            <span>{{ co_author }}</span>
                                        {% else %}
                                            <span>{{ co_author }}</span>,<br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card mt-4">
                            <h5 class="card-header custom_card_header">
                                <img src="{% static 'images/book_details/co_author_emails.png' %}" class="mr-2" alt="" width="25px" />{% trans "Co Author Emails" %}
                            </h5>
                            <div class="card-body">
                                {% if book.co_author_name %}
                                    {% for co_author in book.co_author_name.all %}
                                        {% if forloop.last %}
                                            <span>{{ co_author.email }}</span>
                                        {% else %}
                                            <span>{{ co_author.email }}</span>,<br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="card mt-4">
                        <h5 class="card-header custom_card_header">
                            <img src="{% static 'images/book_details/co_author_instructions.png' %}" class="mr-2" alt="" width="25px" />{% trans "Co Author Instructions" %}
                        </h5>
                        <div class="card-body">
                            {% if book.co_author_instructions %}
                                <span>{{ book.co_author_instructions|safe }}</span>
                            {% else %}
                                <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-deck">
                        <div class="card mt-4">
                            <h5 class="card-header custom_card_header">
                                <img src="{% static 'images/book_details/author.png' %}" class="mr-2" alt="" width="25px" />{% trans "Authors" %}
                            </h5>
                            <div class="card-body">
                                {% if book.author.all %}
                                    {% for author in book.author.all %}
                                        {% if forloop.last %}
                                            <span>{{ author }}</span>
                                        {% else %}
                                            <span>{{ author }}</span>,<br>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card mt-4">
                            <h5 class="card-header custom_card_header">
                                <img src="{% static 'images/book_details/comparible.png' %}" class="mr-2" alt="" width="25px" />{% trans "Comparible" %}
                            </h5>
                            <div class="card-body">
                                {% if book.comparible %}
                                    <span>{{ book.comparible }}</span>
                                {% else %}
                                    <span class="custom_not_written">{% trans "It hasn't been written." %}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="row">
	                    {% if request.user.is_superuser %}
	                        <div class="col-6 col-md-6 text-center mt-5 book_container">
	                        	<a href="{% url 'dashboard:edit_books' book_id=book.id %}">
	                        		<button class="download_all_btn btn" type="button"><i class="fas fa-pencil-alt"></i>{% trans "Edit Book" %}</button>
	                        	</a>
	                        </div>
	                        <div class="col-6 col-md-6 text-center mt-5 book_container">
	                        	<!-- Button trigger modal -->
	                            <button class="download_all_btn btn" type="button" data-toggle="modal" data-target="#deleteBook">
	                            	<i class="fas fa-trash"></i>{% trans "Delete Book" %}
	                            </button>
	                        </div>
	                    {% else %}
	                    	<div class="col-6 col-md-6 text-center mt-5 book_container">
	                        	<button class="download_all_btn btn disabled" type="button" data-toggle="tooltip" data-placement="top" title="You don't have permissions to do that!"><i class="fas fa-pencil-alt"></i>{% trans "Edit Book" %}</button>
	                        </div>
	                        <div class="col-6 col-md-6 text-center mt-5 book_container">
	                            <button class="download_all_btn btn disabled" type="button" data-toggle="tooltip" data-placement="top" title="You don't have permissions to do that!">
	                            	<i class="fas fa-trash"></i>{% trans "Delete Book" %}
	                            </button>
	                        </div>
	                    {% endif %}
                        {# <button type="button" class="btn btn-primary" id="showtoast">Show Toast</button> #}
	               	</div>
                </div>
            </div>
        </div>
    </div>
    {% include 'books/modals/modal_delete_book.html' %}
    {% include 'books/modals/modal_book_types.html' %}
{% endblock %}

{% block other_js %}
    <script>
        // triggering toastr notification once we delete a book 
        $('#custom_btn_delete_book').click(function () {
            toastr["success"]("The Book - <strong>{{ book.title }}</strong> has been deleted!");
        });
    </script>
{% endblock %}